/* HTML Elements
---------------------------------------------------------*/
*  { 
	margin:0;
	padding:0;
}
body  { 
	font:12px Dotum;
	color:#333333;
	background:#f5f5f5;
}
ul  { list-style:none; }
a:link, a:visited  { color: #0074e4;text-decoration: none; }
a:hover, a:active  { color: #ff6000;text-decoration: none; }
hr  {  display: none; }
h1  {  font-size:1.2em; }
img  {  border:none; vertical-align:middle; }
img.Lbtn  {  cursor:pointer; }
select, input.Ltext, textarea  {  
	font-family:Dotum;
	font-size:1em; 
	padding:2px;
	border:1px solid #b9b9b9;
	vertical-align:middle;
}
input.Limage  {  vertical-align:middle; }
option { padding-right: 0.5em; }
legend  {  display:none; }
fieldset  {  border:none; }

.fWrapper{
	width:1219px;
	height:820px;
	position:relative;
	left:50%;
	margin-left:-609px;
}
.fHeader{
	width:100%;
	height:65px;
	background:url(../../images/futureplanet/lghausys.gif) no-repeat right 27px;
}
.fHeader img{
	margin:18px 0 0 40px;
	cursor:pointer;
}
.fHeader ul{
	display:inline;
	position:relative;
	top:13px;
	*top:10px;
	margin-left:30px;
}
.fHeader ul li{
	display:inline;
	background:url(../../images/futureplanet/headerDiv.gif) no-repeat left top;
	*background:url(../../images/futureplanet/headerDiv.gif) no-repeat left 5px;
}
.fHeader ul li.fFirst{
	background:none;
}
.fHeader ul li a, .fHeader ul li a:visited{
	font-weight:bold;
	color:#055cae;
	padding:5px 20px 3px 25px;
}
.fHeader ul li a:hover{
	color:#fff;
	background:url(../../images/futureplanet/aHoverBg.gif) no-repeat left top;
}
.dropDown{
	display:block;
	width:122px;
	position:absolute;
	background:#f4f4f4;
	border:1px solid #065197;
	left:111px;
	top:15px;
}
.dropDown ul{
	display:inherit;
	margin:0;
	left:0;
	top:0;
}
.dropDown ul li{
	display:inherit;
	background:none;
	padding:8px 0 7px 5px;
	border-top:1px solid #fff;
	border-bottom:1px solid #c7c7c7;
}
.dropDown ul li.fLast{
	border-bottom:none;
}
.dropDown ul li a, .dropDown ul li a:visited{
	font-weight:bold;
	color:#055cae;
	padding:0;
}
.dropDown ul li a:hover{
	color:#fb7c00;
	background:none;
}
.fMainLeft{
	width:454px;
	height:731px;
	background:url(../../images/futureplanet/mainLBg.jpg) no-repeat left top;
	margin-left:21px;
	display:inline;
	float:left;
}
.fMainCenter{
	width:284px;
	height:731px;
	background:url(../../images/futureplanet/mainCBg.jpg) no-repeat left top;
	display:inline;
	float:left;
}
.fMainRight{
	width:439px;
	height:731px;
	background:url(../../images/futureplanet/mainRBg.jpg) no-repeat left top;
	display:inline;
	float:left;
}
.fMainLeft .subLists{
	margin:75px 0 0 31px;
}
.fMainLeft .subLists ul li{
	margin:7px 0;
}
.fMainLeft .subLists ul li ul{
	margin-bottom:12px;
}
.notice{
	width:362px;
	background:url(../../images/futureplanet/noticeBgTop.gif) no-repeat left top;
	padding:30px 0 0 0;
	margin:62px 0 0 25px;
}
.notice div{
	width:270px;
	padding:0 0 10px 15px;
	background:url(../../images/futureplanet/noticeBgBottom.gif) no-repeat left bottom;
}
.notice a, .notice a:visited{
	color:#fff;
}
.notice a:hover{
	color:#f9ff52;
}
.creativeThinking{
	width:430px;
	margin:27px 0 0 26px;	
}
.creativeThinking .title{
	width:405px;
	position:relative;
	padding-left:3px;
}
.creativeThinking .title a{
	position:absolute;
	right:12px;
	top:3px;
}
.creativeThinking .contents ul{
	margin:3px 0 0 0;
	position:relative;
}
.creativeThinking .contents ul li{
	display:inline;
	float:left;
	margin-right:4px;
	
}
.creativeThinking .contents ul li a{
	color:#f9ff52;
	font-size:11px;
}
.creativeThinking .contents ul li a .clipBg{
	background:#5e8ebc;
	width:90px;
	height:51px;
	padding:4px;
}
.creativeThinking .contents ul li a span{
	display:block;
	margin:6px 0 0 2px;
}
.hotIssue{
	width:425px;
	margin:109px 0 0 25px;
	*margin:10px 0 0 25px;
	_margin:15px 0 0 25px;
}
.hotIssue .title{
	width:418px;
	height:23px;
	position:relative;
	padding-left:7px;
	border-bottom:1px solid #fff;
}
.hotIssue .title a{
	position:absolute;
	right:12px;
	top:6px;
}
.hotIssue .contents{
	border-bottom:1px solid #fff;	
}
.hotIssue .contents ul{
	margin:0 0 0 6px;
}
.hotIssue .contents ul li{
	padding:4px 0 4px 0; 
	line-height:18px;
	width:410px;
	background:url(../../images/futureplanet/dottedLine01.gif) repeat-x left bottom;
	position:relative;
}
.hotIssue .contents ul li.fLast{
	background:none;
}
.hotIssue .contents ul li a, .hotIssue .contents ul li a:visited{
	color:#fff;
}
.hotIssue .contents ul li a:hover{
	color:#f9ff52;
}
.hotIssue .contents ul li a img{
	position:relative;
	top:-1px;
	margin-right:7px;
}
.hotIssue .contents ul li .date{
	position:absolute;
	right:1px;
	color:#cbf5ff;
}
.hotIssue .contents ul li .name{
	position:absolute;
	right:78px;
	color:#e7ff47;
}
.seminarInfo{
	width:425px;
	margin:26px 0 0 25px;
	_margin:10px 0 0 25px;
}
.seminarInfo .title{
	width:418px;
	height:23px;
	position:relative;
	padding-left:7px;
	border-bottom:1px solid #fff;
}
.seminarInfo .title a{
	position:absolute;
	right:12px;
	top:6px;
}
.seminarInfo .contents{
	border-bottom:1px solid #fff;	
}
.seminarInfo .contents ul{
	margin:0 0 0 6px;
}
.seminarInfo .contents ul li{
	padding:4px 0 4px 0; 
	line-height:18px;
	width:410px;
	background:url(../../images/futureplanet/dottedLine01.gif) repeat-x left bottom;
	position:relative;
}
.seminarInfo .contents ul li.fLast{
	background:none;
}
.seminarInfo .contents ul li a, .seminarInfo .contents ul li a:visited{
	color:#fff;
}
.seminarInfo .contents ul li a:hover{
	color:#f9ff52;
}
.seminarInfo .contents ul li a img{
	position:relative;
	top:-1px;
	margin-right:7px;
}
.seminarInfo .contents ul li .date{
	position:absolute;
	right:1px;
	color:#cbf5ff;
}
.seminarInfo .contents ul li .name{
	position:absolute;
	left:250px;
	color:#e7ff47;
}
.rocket{
	margin:99px 0 0 0;
	*margin:98px 0 0 0;
}
.rocketName{
	font-weight:bold;
	font-size:14px;
	color:#545454;
	width:195px;
	text-align:center;
	margin:17px 0 0 45px;
}
.rocketName img{
	position:relative;
	top:-3px;
	margin-left:7px;
	cursor:pointer;
}
.profile{
	margin:24px 0 0 50px;
}
.profile *{
	display:inline-block;
	*display:inline;
	zoom:1;
}
.profile .name{
	position:relative;
	top:10px;
	left:8px;
	color:#545454;
}
.profile .name span{
	font-weight:bold;
	line-height:22px;
	color:#2d5dc4;
}
.profile .name a{
	position:relative;
	top:5px;
}
.gaugeBg{
	width:84px;
	height:6px;
	background:url(../../images/futureplanet/gaugeBg.gif) repeat-x left top;
}
.record1{
	margin:15px 0 0 50px;
	*margin:28px 0 0 50px;
}
.record1 .title{
	font-weight:bold;
	color:#2d5dc4;
}
.record{
	margin:29px 0 0 50px;
	*margin:28px 0 0 50px;
}
.record .title{
	font-weight:bold;
	color:#2d5dc4;
}
.myStar{
	margin:6px 0 0 0;
}
.myStar div{
	height:6px;
	float:left;
}
.myStar .subj{
	color:#6a6a6a;
	font-size:11px;
	margin-right:5px;
}
.gaugeGL, .gaugeBg, .gaugeR{
	margin-top:2px;
}
.myStar .num{
	color:#6a6a6a;
	font-size:11px;
	margin-left:5px;
}
.gaugeG{
	background:url(../../images/futureplanet/gaugeG.gif) no-repeat right top;
}
.myRanking{
	margin:2px 0 0 0;
	_width:200px;
}
.myRanking div{
	height:6px;
	float:left;
}
.myRanking .subj{
	color:#6a6a6a;
	font-size:11px;
	margin-right:12px;
}
.gaugeOL, .gaugeBg, .gaugeR{
	margin-top:2px;
}
.gaugeGL, .gaugeOL, .gaugeR{
	*margin-top:-1px;
}
.myRanking .num{
	color:#6a6a6a;
	font-size:11px;
	margin-left:5px;
}
.gaugeO{
	background:url(../../images/futureplanet/gaugeO.gif) no-repeat right top;
}
.myMenuBtnArea{
	width:185px;
	text-align:center;
	margin-top:32px;
	*margin-top:50px;
	_margin-top:15px;
}
.fMainRight .subLists{
    margin: 75px 30px 0 0;
	text-align:right;
}
.fMainRight .subLists ul li {
	margin: 7px 0;
}
.fMainRight .subLists ul ul{
	margin: 0 10px 0 0;
	padding:3px 0 0 0;
}
.serviceBtnArea{
	position:absolute;
	right:21px;
	margin-top:15px;
}
.serviceBtnArea ul li{
	margin-bottom:5px;
}
.discussionRoom{
	width:382px;
	margin:165px 0 0 26px;
	*padding-top:165px;
}
.discussionRoom .title{
	width:375px;
	height:23px;
	position:relative;
	padding-left:7px;
	border-bottom:1px solid #fff;
}
.discussionRoom .title a{
	position:absolute;
	right:12px;
	top:6px;
}
.discussionRoom .contents{
	border-bottom:1px solid #fff;	
}
.discussionRoom .contents ul{
	margin:0 0 0 6px;
}
.discussionRoom .contents ul li{
	padding:7px 0 8px 0;
	width:390px;
	background:url(../../images/futureplanet/dottedLine01.gif) repeat-x left bottom;
	position:relative;
}
.discussionRoom .contents ul li.fLast{
	background:none;
}
.discussionRoom .contents ul li a, .discussionRoom .contents ul li a:visited{
	color:#fff;
}
.discussionRoom .contents ul li a:hover{
	color:#f9ff52;
}
.discussionRoom .contents ul li a img{
	position:relative;
	top:-1px;
	margin-right:7px;
}
.discussionRoom .contents ul li .date{
	position:absolute;
	right:25px;
	color:#cbf5ff;
}
.ideaSquare{
	width:408px;
	margin:20px 0 0 0;
}
.ideaSquare .title{
	width:401px;
	height:23px;
	position:relative;
	padding-left:7px;
	border-bottom:1px solid #fff;
}
.ideaSquare .title a{
	position:absolute;
	right:12px;
	top:6px;
}
.ideaSquare .contents{
	border-bottom:1px solid #fff;	
}
.ideaSquare .contents ul{
	margin:0 0 0 6px;
}
.ideaSquare .contents ul li{
	padding:4px 0 4px 0; 
	line-height:18px;
	width:395px;
	background:url(../../images/futureplanet/dottedLine01.gif) repeat-x left bottom;
	position:relative;
}
.ideaSquare .contents ul li.fLast{
	background:none;
}
.ideaSquare .contents ul li a, .ideaSquare .contents ul li a:visited{
	color:#fff;
}
.ideaSquare .contents ul li a:hover{
	color:#f9ff52;
}
.ideaSquare .contents ul li a img{
	position:relative;
	top:-1px;
	margin-right:7px;
}
.ideaSquare .contents ul li .date{
	position:absolute;
	right:1px;
	color:#cbf5ff;
}
.ideaSquare .contents ul li .name{
	position:absolute;
	right:89px;
	color:#e7ff47;
}
.states{
	width:408px;
	margin:20px 0 0 0;
}
.states .title{
	width:401px;
	height:23px;
	position:relative;
	padding-left:7px;
	border-bottom:1px solid #fff;
}
.states .title a{
	position:absolute;
	right:12px;
	top:6px;
}
.states .contents{
	border-bottom:1px solid #fff;	
}
.states .contents ul{
	margin:0 0 0 6px;
	padding:5px 0;
}
.states .contents ul li{
	padding:4px 0 4px 0; line-height:12px;
	_padding:3px 0 3px 0;
	width:327px;
	color:#fff;
	font-size:11px;
	position:relative;
}
.states .contents ul li.fLast{
	background:none;
}
.states .contents ul li div{
	display:inline;	
	text-align:right;
	position:absolute;
	left:65px;
	background:url(../../images/futureplanet/statusBar.gif) repeat-x left 5px;
	margin-top:-3px;
}
.states .contents ul li div img{
	position:relative;
	left:2px;
}
.states .contents ul li.stats_first div{
	background:url(../../images/futureplanet/statusBar_first.gif) repeat-x left 5px;
}
.states .contents ul li.stats_last div{
	background:url(../../images/futureplanet/statusBar_last.gif) repeat-x left 5px;
}
.fFooter{
	margin-top:25px;
	text-align:center;
	float:left;
	width:1064px;
}
.fFooter span{
	font-weight:bold;
	color:#0162c3;
}
.fFooter img{
	position:relative;
	top:-2px;
	margin:0 2px;
}
.fFooter .btnArea{
	display:inline;
	margin:0 0 0 10px;
	cursor:pointer;
	
}

.fLeftMenu{
	width:266px;
	height:731px;
	margin-left:15px;
	_margin-left:11px;
	float:left;
}
.rocketName_2{
	font-weight:bold;
	font-size:14px;
	color:#545454;
	width:266px;
	text-align:center;
	margin:10px 0 ;
}
.rocketName_2 img{
	position:relative;
	top:-2px;
	margin-right:7px;
}
.myMenu{
	width:266px;
	height:380px;
	background:url(../../images/futureplanet/myMenuBg.gif) no-repeat left top;
}
.profile_2{
	padding:13px 0 0 15px;
}
.profile_2 *{
	display:inline-block;
	*display:inline;
	zoom:1;
}
.profile_2 .name{
	position:relative;
	top:10px;
	left:8px;
	color:#545454;
}
.profile_2 .name span{
	font-weight:bold;
	line-height:22px;	
	color:#2d5dc4;
}
.profile_2 .name a{
	position:relative;
	top:5px;
}
.record_2{
	padding:25px 0 0 17px;
	_padding:30px 0 0 17px;
}
.record_2 .title{
	font-weight:bold;
	color:#2d5dc4;
}
.record_2 .gaugeBg, .teamRecord_2 .gaugeBg{
	width:130px;
	height:6px;
	background:url(../../images/futureplanet/gaugeBg.gif) repeat-x left top;
}
.record_2 .myStar{
	margin:6px 0 0 0;
}
.record_2 .myStar div{
	height:6px;
	float:left;
}
.record_2 .myStar .subj{
	color:#6a6a6a;
	font-size:11px;
	margin-right:5px;
}
.record_2 .gaugeGL, .record_2 .gaugeBg, .record_2 .gaugeR{
	margin-top:2px;
}
.record_2 .myStar .num{
	color:#6a6a6a;
	font-size:11px;
	margin-left:5px;
}
.record_2 .gaugeG, .teamRecord_2 .gaugeG{
	background:url(../../images/futureplanet/gaugeG.gif) no-repeat right top;
}
.record_2 .myRanking, .teamRecord_2 .myRanking{
	margin:6px 0 0 0;
	width:246px;
}
.record_2 .myRanking div, .teamRecord_2 .myRanking div{
	height:6px;
	float:left;
}
.record_2 .myRanking .subj, .teamRecord_2 .myRanking .subj{
	color:#6a6a6a;
	font-size:11px;
	margin-right:12px;
}
.record_2 .gaugeOL, .record_2 .gaugeBg, .record_2 .gaugeR, .teamRecord_2 .gaugeBL, .teamRecord_2 .gaugeBg, .teamRecord_2 .gaugeR{
	margin-top:2px;
}
.teamRecord_2 .gaugePL {
	margin-top:2px;
}
.record_2 .myRanking .num, .teamRecord_2 .myRanking .num{
	color:#6a6a6a;
	font-size:11px;
	margin-left:5px;
}
.record_2 .gaugeO, .teamRecord_2 .gaugeO{
	background:url(../../images/futureplanet/gaugeO.gif) no-repeat right top;
}
.teamRecord_2{
	padding:40px 0 0 17px;
	*padding:50px 0 0 17px;
	_padding:25px 0 0 17px;
}
.teamRecord_2 .title{
	font-weight:bold;
	color:#2d5dc4;
}
.gaugeP{
	background:url(../../images/futureplanet/gaugeP.gif) no-repeat right top;
}
.topRanker{
	margin-top:20px;
	*margin-top:30px;
	_margin-top:10px;
}
.topRanker ul{
	margin:10px 0 0 0;
}
.topRanker ul li{
	display:inline-block;
	*display:inline;
	zoom:1;
	margin:0 15px 0 5px;
}
.topRanker ul li div{
	width:39px;
	text-align:center;
	margin-top:7px;
	font-weight:bold;
	font-size:11px;
	color:#575757;
}
.topRanker ul li div div{
	margin-bottom:5px;
	_margin-bottom:3px;
	color:#0c70cd;
}
.topRanker ul li div div.first{
	color:#cd0c0c;
}
.myMenuBtnAreaBottom{
	margin-top:7px;
}
.fmainFrame{
	width:891px;
	background:#fff;
/*	height:730px; */
	float:left;
	margin-left:15px;
	margin-bottom:20px;
	padding:15px 10px 10px 10px;
/*	
	overflow-y:scroll;
	overflow-x:hidden;
*/	
	scrollbar-face-color:#f5f5f5; 
	scrollbar-shadow-color:#bfbfbf; 
	scrollbar-highlight-color:#bfbfbf; 
	scrollbar-3dlight-color: #f5f5f5; 
	scrollbar-darkshadow-color: #f5f5f5; 
	scrollbar-track-color: #f5f5f5 ; 
	scrollbar-arrow-color: #b9b9b9;
}

.ellipsis {
	display:inline-block;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	-o-text-overflow: ellipsis;	
}

