@charset "utf-8";
/* layout */
#wrap { width:97%; padding:5px 0px 20px 5px; }

/* base */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, feldset, input, textarea, p, blockquote, th, td { margin:0; padding:0px; }
body { font-color:#333; font-size:12px; font-family: '맑은 고딕', Tahoma, 'Dotum';  }
h1 {font-size:12px; font-weight:bold; font-color:#333; padding: 5px 0px 15px 0px}
h2, h3, h4, h5, h6 { font-weight:normal; font-size:1em; }
ol, ul, li { list-style:none; }
address, caption, em { font-weight:normal; font-style:normal; }

/* link */
a { color:#666; text-decoration:none; }
a:hover, a:active, a:focus { color:#999;  text-decoration:underline;}


a.board_1:link  	{ font-size:12px; color:#666;  text-decoration: none;}
a.board_1:visited	{ font-size:12px; color:#3366cc;  text-decoration:none;}
a.board_1:active    { font-size:12px; color:#3366cc;  text-decoration:none;}
a.board_1:hover	    { font-size:12px; color:#0066cc;  text-decoration:underline;}

a.board_2:link  	{ font-size:12px; font-weight:bold;  color:#6699cc;  text-decoration:none;}
a.board_2:visited	{ font-size:12px; font-weight:bold;  color:#3366cc;  text-decoration:none;}
a.board_2:active    { font-size:12px; font-weight:bold;  color:#3366cc;  text-decoration:none;}
a.board_2:hover	    { font-size:12px; font-weight:bold;  color:#0066cc;  text-decoration:underline;}


/* common */
img { vertical-align:middle; border:0; }
textarea { font-size: 12px; color: #7d7d7d; border:1px solid #dcdcdc; }
select { height:22px; font-size:12px; color:#333; border:1px solid #ccc; padding-left:3px; }
.input { height:18px; font-size:12px; color:#7d7d7d; vertical-align:middle; padding:0 3px; 
		 border-top:2px solid #999; 
		 border-right:1px solid #ccc; 
		 border-bottom:1px solid #ccc; 
		 border-left:2px solid #999; 
		 }
.disabled{ background-color: #ddd !important; color:#888; border:1px solid #888; padding:0px 3px;}

.empty { height:15px; }
.left { float:left; }
.center { float:center; }
.right {float:right; }
.f_title { font-size:12px; font-weight:bold;  color:#e07a0c;}
.f_left { text-align:left !important; }
.f_center { text-align:center !important; }
.f_right { text-align:right !important; }
.f_11 { font-size:11px; }
.f_B16 { font-size:16px; font-weight:bold;}
.f_999 { color:#999; }
.f_666 { color:#666; }
.f_333 { color:#333; font-size:12px; }
.f_bold { font-weight:bold; }
.f_red { color:#f33; }
.f_blue { color:#008ace; }
.f_orange { color:#f37a20; }
.f_green { color:#69ad27; }
.margin10_0 {margin:10px 0;}
.margin0_10 {margin:0 10px;}
.margin20_0 {margin:20px 0;}
.margin5_0 {margin:5px 0;}
.margin_right_5 {margin-right:5px;}


/* layout */
#container { width:1000px; margin:0 auto; }
#container:after {	content:""; display:block; clear:both; }
#main_left { width:200px; margin-right:25px; float:left; }
#main_center { width:580px; float:left; }
#main_right { width:170px; float:right;}

/* Table */

.table_button {margin:5px 0;}
.table_title {text-align : left;}

.list01 { clear:both;	border-width: 1px #d0d0d0 solid; width:100%; margin:5px 0;}  

.list01 table { font-size:12px; text-align:center; width:100%;border-left:1px #d0d0d0 solid;}

.list01 th { background:#e2e9f5; 
			 height : 20px; 
			 margin:2px 5px;
			 padding:3px 0;	
			 color:#333;	
			 line-height:14px; 
			 text-align:center; 
			 border-top:1px #d0d0d0 solid;
			 border-right:1px #d0d0d0 solid;
			 border-bottom:1px #d0d0d0 solid;}
			 
.list01 td {height:20px;
			padding:2px 5px;
		    border-right:1px #d0d0d0 solid;
			border-bottom:1px #d0d0d0 solid;}

.list01_td_R {height:20px;
			padding:2px 5px;
			text-align:right; 
		    border-right:1px #d0d0d0 solid;
			border-bottom:1px #d0d0d0 solid;}
			 
.list01_tr_gray {background:#f2f2f2;}






.list02 { clear:both; width:100%; margin:5px 0;}  

.list02 table { font-size:12px; 
				text-align:center; 
				width:100%; 
				border-bottom:1px solid #d0d0d0; 
			    border-left:1px solid #d0d0d0;}
			 
.list02_td { height : 20px; 
			 padding:2px 5px;	
			 color:#333;	
			 line-height:14px; 
			 text-align:center; 
			 border-top:1px #d0d0d0 solid; 
			 border-right:1px solid #d0d0d0; }
			 
.list02_td_L { height : 20px; 
			 padding:2px 5px;	
			 color:#333;	
			 line-height:14px; 
			 text-align:Left; 
			 border-top:1px #d0d0d0 solid; 
			 border-right:1px solid #d0d0d0; }
			 
.list02_td_bg { background:#e2e9f5; 
				height : 20px; 
				padding:2px 5px;
				color:#333;	
				line-height:14px; 
				text-align:center; 
				border-top:1px #d0d0d0 solid; 
				border-right:1px solid #d0d0d0; }
				
.list02_td_bg_L { background:#e2e9f5; 
				height : 20px; 
				padding:2px 5px;
				color:#333;	
				line-height:14px; 
				text-align:left; 
				border-top:1px #d0d0d0 solid; 
				border-right:1px solid #d0d0d0; }

.list03 { clear:both; padding: 5px 0; width:100%;}

.list03 table { font-size:12px; 
				text-align:center; 
				width:100%; 
				border-top:2px solid #99adcf; 
				border-bottom:1px solid #d0d0d0; 
			    border-left:1px solid #d0d0d0;}
			 
.list03_td { height : 20px; 
			 padding:2px 5px;	
			 color:#333;	
			 line-height:18px; 
			 text-align:left; 
			 border-top:1px #d0d0d0 solid; 
			 border-right:1px solid #d0d0d0; }
			 
.list03_td_bg { background:#f2f2f2; 
				height : 20px; 
				padding:2px 5px;
				color:#333;	
				line-height:14px; 
				text-align:center; 
				border-top:1px #d0d0d0 solid; 
				border-right:1px solid #d0d0d0; }
				
.list04 { clear:both;  width:100%;}  
.list04 table { font-size:12px; text-align:left; width:100%; margin-top:10px;}
.list04 td {height:18px;
			padding:2px 0px;}
			
.list05 { clear:both;	border-width: 1px #d0d0d0 solid; width:100%;}  

.list05 table { font-size:12px; text-align:center; width:100%;border-left:1px #d0d0d0 solid; margin:5px 0 10px 0;}

.list05 th { background:#f2f2f2; 
			 margin:3px 5px;
			 padding:3px 0;	
			 color:#333;	
			 text-align:center; 
			 border-top:1px #d0d0d0 solid;
			 border-right:1px #d0d0d0 solid;
			 border-bottom:1px #d0d0d0 solid;}
			 
.list05 td {padding:3px 5px;
		    border-right:1px #d0d0d0 solid;
			border-bottom:1px #d0d0d0 solid;}
			
			
.list06 { clear:both;	border-width: 1px #000000 solid; width:100%; margin:5px 0;}  

.list06 table { font-size:12px; text-align:center; width:100%;border-left:2px #000000 solid;border-top:2px #000000 solid;border-bottom:1px #000000 solid;border-right:1px #000000 solid;}

.list06 th { background:#e2e9f5; 
			 height : 20px; 
			 margin:2px 5px;
			 padding:3px 0;	
			 color:#333;	
			 line-height:14px; 
			 text-align:center; 
			 border-top:1px #000000 solid;
			 border-right:1px #000000 solid;
			 border-bottom:1px #000000 solid;}
			 
.list06 td {height:20px;
			padding:2px 5px;
		    border-right:1px #000000 solid;
			border-bottom:1px #000000 solid;}

.list06_td_R {height:20px;
			padding:2px 5px;
			text-align:right; 
		    border-right:1px #000000 solid;
			border-bottom:1px #000000 solid;}
			 
.list06_tr_gray {background:#f2f2f2;}

/* DIV */
.table_box { border-top:2px #99adcf solid;
			 border-right:1px solid #d0d0d0; 
			 border-bottom:1px solid #d0d0d0; 
			 border-left:1px solid #d0d0d0; 
			 font-size:12px; 
			 text-align:left; 
			 width:98.5%;
			 padding:10px 10px;
			 margin:5px 0;
			 float:left;}
			 
.table_box2 { border-top:2px solid #497fd2;
			 border-right:1px solid #89a6d2; 
			 border-bottom:1px solid #89a6d2; 
			 border-left:1px solid #89a6d2; 
			 font-size:12px; 
			 text-align:left; 
			 width:1130px;
			 padding:10px 10px;
			 margin-bottom:10px;}
			 
.search_box {position:relative; padding:10px 10px; border:1px solid #bbbbbb; background:#FFF; margin-top:5px; margin:5px 0; }
.search_box td{padding-left:5px;}
.search_delimiter { position:relative; background-color:#efefef; height:1px; margin:7px 0;}

.searchtel_tit { padding:0 0 7px 1px; }

.button_box {padding:5px 0px; float:left;}

.button_box2 {padding:5px 0px; float:right;}

.button_box3 {padding:5px 0px;}

/* 연말정산 bar */
.delimiter { position:relative; background-color:#89a6d2; height:1px; margin:10px 0;}
.margin_delimiter { margin:5px 0;}

/* 연말정산 TAB */
a.tab01 { display:inline-block; height:50px; width:184px; position:relative; font-size:12px; white-space:nowrap; background:url(../../images/ess/tab_bg_01.png) no-repeat; }
a.tab01 span {  color:#deeaff; display:inline-block; margin-left:50px; padding:8px 0px 0 35px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img01.png) no-repeat left top; }
a:hover.tab01 { color:#eadf81; height:50px; width:184px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a:hover.tab01 span { color:#eadf81; display:inline-block; margin-left:50px; padding:8px 0px 0 35px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img01_over.png) no-repeat left top; }

a.active.tab01 { color:#eadf81; height:50px; width:184px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a.active.tab01 span { color:#eadf81; display:inline-block; margin-left:50px; padding:8px 0px 0 35px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img01_over.png) no-repeat left top; }

a.tab02 { display:inline-block; height:50px; width:185px; position:relative; font-size:12px; white-space:nowrap; background:url(../../images/ess/tab_bg_01.png) no-repeat; }
a.tab02 span {  color:#deeaff; display:inline-block; margin-left:25px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img02.png) no-repeat left top; }
a:hover.tab02 { color:#eadf81; height:50px; width:185px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a:hover.tab02 span { color:#eadf81; display:inline-block; margin-left:25px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img02_over.png) no-repeat left top; }

a.active.tab02 { color:#eadf81; height:50px; width:185px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a.active.tab02 span { color:#eadf81; display:inline-block; margin-left:25px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img02_over.png) no-repeat left top; }

a.tab03 { display:inline-block; height:50px; width:185px; position:relative; font-size:12px; white-space:nowrap; background:url(../../images/ess/tab_bg_01.png) no-repeat; }
a.tab03 span {  color:#deeaff; display:inline-block; margin-left:30px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img03.png) no-repeat left top; }
a:hover.tab03 { color:#eadf81; height:50px; width:185px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a:hover.tab03 span { color:#eadf81; display:inline-block; margin-left:30px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img03_over.png) no-repeat left top; }

a.active.tab03 { color:#eadf81; height:50px; width:185px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a.active.tab03 span { color:#eadf81; display:inline-block; margin-left:30px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img03_over.png) no-repeat left top; }

a.tab04 { display:inline-block; height:50px; width:184px; position:relative; font-size:12px; white-space:nowrap; background:url(../../images/ess/tab_bg_01.png) no-repeat; }
a.tab04 span {  color:#deeaff; display:inline-block; margin-left:35px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img04.png) no-repeat left top; }
a:hover.tab04 { color:#eadf81; height:50px; width:184px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a:hover.tab04 span { color:#eadf81; display:inline-block; margin-left:35px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img04_over.png) no-repeat left top; }

a.active.tab04 { color:#eadf81; height:50px; width:184px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a.active.tab04 span { color:#eadf81; display:inline-block; margin-left:35px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img04_over.png) no-repeat left top; }

a.tab05 { display:inline-block; height:50px; width:184px; position:relative; font-size:12px; white-space:nowrap; background:url(../../images/ess/tab_bg_01.png) no-repeat; }
a.tab05 span {  color:#deeaff; display:inline-block; margin-left:45px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img05.png) no-repeat left top; }
a:hover.tab05 { color:#eadf81; height:50px; width:184px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a:hover.tab05 span { color:#eadf81; display:inline-block; margin-left:45px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img05_over.png) no-repeat left top; }

a.active.tab05 { color:#eadf81; height:50px; width:184px; position:relative; font-size:12px;white-space:nowrap; background:url(../../images/ess/tab_bg_02.png) no-repeat; }
a.active.tab05 span { color:#eadf81; display:inline-block; margin-left:45px; padding:8px 0px 0 40px; line-height:18px; cursor:pointer; background:url(../../images/ess/tab_img05_over.png) no-repeat left top; }

.w100per {width:100%;}
.w95per {width:95%;}
.w90per {width:90%;}
.w70per {width:70%;}

.w70px {width:70px;}
.w150px {width:150px;}

.h100px {height:100px;}

.redDot {color:red; position:relative; top:2px;}
input[type='checkbox'], input[type='radio'] {position: relative; top: 2px;}