/* 활용 css */

/* 기본 */
body {  color:#555555; FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif","Tahoma"; font-size:12px; margin-top:0px; margin-left:0px; margin-right:0px; margin-bottom:0px }
td, th {  color : #555555; FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif","Tahoma"; font-size : 12px ; LINE-HEIGHT: 14pt }
stex {  color : #555555; FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif","Tahoma"; font-size : 11px ;  }
select, textarea { font-size: 9pt; padding-top: 1px; letter-spacing: default; }
textarea { padding: 5; cursor: text; letter-spacing: 0; FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif" ,"Tahoma";line-height: 150%; }
input { font-size:11px; padding-top: 1px; letter-spacing: default; }
img {border:0px;}

 
/******************************************기본 링크 ************************************************************/
A	  { COLOR: #666666; FONT-FAMILY: Arial, 굴림, Gulim; TEXT-DECORATION: none }
A:visited { COLOR: #666666; FONT-FAMILY: Arial, 굴림, Gulim; TEXT-DECORATION: none }
A:active  { COLOR: #666666; FONT-FAMILY: Arial, 굴림, Gulim; TEXT-DECORATION: none }
A:hover   { COLOR: #007782; FONT-FAMILY: Arial, 굴림, Gulim; TEXT-DECORATION: none;}


 A.sm:link
 {FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size: 12px; color: #333333; text-decoration: none;}
 A.sm:visited
 {FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size: 12px; color: #333333; text-decoration: none;}
 A.sm:hover
 {FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size: 12px; color: #000000; text-decoration: none; font-weight: bold;}
 
 
 /* COLOR TABLE 01 */
.T01_0    { BACKGROUND-COLOR: #FFFFFF; padding-right: 5px;padding-left: 5px; }
.T01_1    { BACKGROUND-COLOR: #CCCCCC }
.T01_2    { BACKGROUND-COLOR: #E3EAEE; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; color: #333333; } /* 테이블헤더 */
.T01_3    { BACKGROUND-COLOR: #F4F4F4; padding-right: 5px;padding-left: 5px;} /* 첫번째 줄 */
.T01_4    { BACKGROUND-COLOR: #FBFBFB; padding-right: 5px;padding-left: 5px;} /* 두번째 줄 */
.T01_5    { BACKGROUND-COLOR: #F9F5E4; PADDING-LEFT: 5px; PADDING-RIGHT: 5px;} /* 합계 */
.T01_6    { BACKGROUND-COLOR: #DEE7EB; PADDING-LEFT: 5px; PADDING-RIGHT: 5px;;BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; color: #333333; } 
.T01_7    { BACKGROUND-COLOR: #FEE4DE; PADDING-LEFT: 5px; PADDING-RIGHT: 5px;}
.T01_8    { BACKGROUND-COLOR: #DEE7EB; PADDING-LEFT: 5px; PADDING-RIGHT: 5px;}
.T01_9    { BACKGROUND-COLOR: #F4F4F4; padding-right: 3px;padding-left: 3px;} 
 /* COLOR TABLE 02 */
.T02_0  { BACKGROUND-COLOR: #DEEAF6; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-WEIGHT: BOLD ;color: #9E9E9E;} /* 테이블헤더 */
.T02_1    { BACKGROUND-COLOR: #EAF2F5; padding-right: 5px;padding-left: 5px;}
/*tab table*/
.tab_Y { BACKGROUND-COLOR: #F4FFFE; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-WEIGHT: BOLD; color : #7296A1;  } 
	
/* Location Bar */
.locationbar           { FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif";FONT-SIZE: 9pt; font-family : 굴림, Gulim ; FONT-SIZE: 8pt; color : #666666; TEXT-ALIGN: RIGHT; PADDING-RIGHT: 4px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: bottom }
.locationbar a:link    {  FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif";FONT-SIZE: 9pt; font-family : 굴림, Gulim ; FONT-SIZE: 8pt; color : #666666; TEXT-ALIGN: RIGHT; PADDING-RIGHT: 4px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: bottom }
.locationbar a:visited {  FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; FONT-SIZE: 9pt; font-family : 굴림, Gulim ; FONT-SIZE: 8pt; color : #666666; TEXT-ALIGN: RIGHT; PADDING-RIGHT: 4px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: bottom }
.locationbar a:hover   { FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif";FONT-SIZE: 9pt; font-family : 굴림, Gulim ; FONT-SIZE: 8pt; color : #007BB9; TEXT-ALIGN: RIGHT; PADDING-RIGHT: 4px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: bottom }
 
  /* top  css */ 	 
 .text_top_n{  FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size:12px color:#088B9A;  font-weight: bold ; }
 .text_mail{  FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size:12px; color:#0064B2;  font-weight: bold ; }
 
 /* title css */ 	 
   .title_text{ FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size:12pt; color:#5A75BA;  font-weight: bold ; padding:10 0 0 10}
  
  /*subtitle*/
.subtitle  { COLOR : #000000;  FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; FONT-SIZE: 11pt; FONT-WEIGHT: BOLD; PADDING-LEFT: 6; PADDING-TOP: 1; TEXT-ALIGN: left;}
.subtitle2 { COLOR : #666666;	FONT-SIZE: 13px;	FONT-WEIGHT: bold;}
.subtitle3 { COLOR : #657E98;	FONT-SIZE: 11px;	FONT-WEIGHT: bold;}

/* 테이블_내용_왼쪽padding */
	.TL_pad20{ FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif";font-size:12px;  line-height:150%; padding-left:20px ; } 
	.TL_pad10{FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size:12px;  line-height:150%; padding-left:10px ; } 
	.TL_pad5{ FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size:12px;  line-height:150%; padding-left:5px ; } 

/* 테이블_내용_오른쪽padding */
	.TR_pad10{ FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size:12px;  line-height:150%; padding-right:10px ; } 
	.TR_pad5{ FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif";font-size:12px;  line-height:150%; padding-right:5px ; }
	
/* 테이블 padding */	
	.T_pad5{ FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size:9pt;  line-height:150%;  padding:5 5 5 5; color:#616161; 	background-color: #FFFFFF; } 
	
/* left menu sub box*/
  .bline { font-size: 12px; border:1 solid #C9C9C9; font-family:"돋움"; color:#616161 ;Text-align:left ; }
 
/*2_depth  css */
     .2_depth {font-size: 12px;  color:#004D8E ;  font-weight: bold; font-family: "굴림"; height:20px;}
	 .2_depth_off {font-size: 12px;  color:#8B8B8B ;  font-weight: bold; font-family: "굴림"; height:20px;padding:4 0 0 0}
     .2_depth_off A:link     {font-size: 9pt; color: #8B8B8B; text-decoration: none; font-family:"굴림", "돋움" ; text-decoration: none}
     .2_depth_off A:visited {font-size: 9pt; color: #8B8B8B; text-decoration: none; font-family:"굴림", "돋움" ; text-decoration: none}
     .2_depth_offA:active  {font-size: 9pt; color: #004D8E; text-decoration: none; font-family:"굴림", "돋움" ; text-decoration: none}
     .2_depth_off A:hover  {font-size: 9pt; color: #004D8E; text-decoration: none; font-family:"굴림", "돋움" ; text-decoration: none} 
    
 /* 3_depth  css */ 
	 .3_depth {FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size : 11px ; color: #555555;text-decoration: none ; }
     .3_depth A:link    {FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size : 11px ; color: #555555;text-decoration: none}
     .3_depth A:visited {FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size : 11px ; color: #E67F05;text-decoration: none}
     .3_depth A:active  {FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size : 11px ; color: #E67F05; text-decoration: none}
     .3_depth A:hover   {FONT-FAMILY: "돋움", "굴림", "Arial", "seoul", "Helvetica", "sans-serif"; font-size : 11px ; color: #E67F05;text-decoration: none} 	
 /* 4_depth  css */ 
	 .4_depth {font-size: 8pt; color: #757575;  font-family:"돋움";text-decoration: none ; padding:2 0 0 17;height:18px;}
     .4_depth A:link    {font-size: 8pt; color: #757575; text-decoration: none; font-family:"굴림", "돋움" ; text-decoration: none}
     .4_depth A:visited {font-size: 8pt; color: #757575; text-decoration: none; font-family:"굴림", "돋움" ; text-decoration: none}
     .4_depth A:active  {font-size: 8pt; color: #F18100; text-decoration: none; font-family:"굴림", "돋움" ; text-decoration: none}
     .4_depth A:hover   {font-size: 8pt; color: #F18100; text-decoration: none; font-family:"굴림", "돋움" ; text-decoration: none} 
	
/* 입력항목 */
  .input {font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;	border: 1px solid #999999;	height: 18px;	color: 666666;	background-color: #FFFFFF; padding:2 0 0 5}
  .input_R{font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;	border: 1px solid #999999;	height: 18px;	color: 666666;	background-color: #FFFFFF; padding:2 5 0 0;Text-align:right;}
  .input_C{font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;	border: 1px solid #999999;	height: 18px;	color: 666666;	background-color: #FFFFFF; padding:2 0 0 0; text-align: center;}
 
   .input_disabled{ font-size: 12px; background-color: #cccccc;  }
   .input_disabled_C { font-size: 12px; text-align: center; background-color: #cccccc;  }
   .input_disabled_R { font-size: 12px; text-align: right;  background-color: #cccccc; } 
  
  .input02 {font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;	border: 1px solid #ffffff; 	height: 18px;	color: 666666;	background-color: #FFFFFF; padding:2 0 0 5}
  .input02_R {font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;	border: 1px solid #ffffff; 	height: 18px;	color: 666666;	background-color: #FFFFFF; padding:2 5 0 0 ; text-align: right;}
  .input02_C {font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;	border: 1px solid #ffffff; 	height: 18px;	color: 666666;	background-color: #FFFFFF; padding:2 0 0 0 ; text-align: center;}
   
  .input_V{font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;	border: none;	height: 18px;	color: 666666;	background-color: transparent; padding:2 0 0 5}
  .input_VR{font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;	border: none;	height: 18px;	color: 666666;	background-color: transparent; padding:2 0 0 5 ; text-align: right;}
  .input_VC{font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;	border: none;	height: 18px;	color: 666666;	background-color: transparent; padding:2 0 0 5 ; text-align: center;}


/* input box */
.write {
	BORDER-RIGHT: #CECECE 1px solid; BORDER-TOP: #CECECE 1px solid; BORDER-LEFT: #CECECE 1px solid; BORDER-BOTTOM: #CECECE 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #fbdee3}

/* 읽기전용 */
.read   { font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;  border-style: groove; color: #666666; height:18px;padding:2 5 0 0 ;}
.read_C { font-family : "Arial", "굴림", "Seoul", "Gulim"; font-size : 9pt; color: #666666;  border-style: groove; text-align: center; height:18px;padding:2 0 0 0 ;}
.read_R { font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt; border-style: groove; color: #666666; text-align: right; height:18px; padding:2 0 0 15 ;}
.read_W {font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt; border-style: groove; height:18px; padding:2 5 0 0; }

/* Table 내용 읽기전용 */
.textfield   { font-size: 12px; border-style: groove; background-color: #F7F7F7; color: #666666; border-width:0px; }
.textfield_C { font-size: 12px; border-style: groove; background-color: #F7F7F7; color: #666666; border-width:0px; text-align: center; }
.textfield_R { font-size: 12px; border-style: groove; background-color: #F7F7F7; color: #666666; border-width:0px; text-align: right; padding-right: 5px;}

/* read input  box */
.read_input{font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size :12px;border:1px solid #A8A8A8; color: #666666; background-color: #F7F7F7 ; height:19px; padding:2 0 0 5}
.read_inputC{font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 12px;border:1px solid #A8A8A8; color: #666666; background-color: #F7F7F7 ; height:19px; padding:2 0 0 5 ;text-align: center; }
.read_inputR{font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 12px;border:1px solid #A8A8A8; color: #666666; background-color: #F7F7F7 ; height:19px; padding:2 5 0 0 ;text-align: right; }
.read_select {width:100px;font-size:9pt;font-family:돋움;}
  	
	/* 입력폼 관련 */
 
  .TEXTAREA	{font-family : "Arial", "굴림", "Seoul", "Gulim";	font-size : 9pt;border:1px solid #cccccc; color: #666666; background-color: #FFFFFF ; padding:2 0 0 5}
 
/* contents_pupup */
.popup_1{ FONT-SIZE : 12pt; COLOR : #FFFFFF; FONT-WEIGHT: BOLD }
.popup_2{ FONT-SIZE : 9pt; COLOR : #000000;FONT-WEIGHT: BOLD }
.list_box { font-size: 12px; border-style: groove; background-color: #F8F8F8; border-width:0px; border:1px solid #A1C1D0; padding:5 5 5 5}


.calendar_moon{ FONT-SIZE : 9pt; COLOR : #2786C4;FONT-WEIGHT: BOLD }
.calendar_date{ FONT-SIZE : 9pt; COLOR : #717171;FONT-WEIGHT: BOLD }
.solidform {border:1 solid #C9C9C9;  font-family:"돋움"; font-size:9pt; color:#616161 ;Text-align:left ; padding-left:2px ;  background-color: #C9C9C9;} 



/* Table board */
.T_line01 {
 BORDER-RIGHT: #A1CAD4 1px solid;BORDER-LEFT: #A1CAD4 1px solid; BORDER-BOTTOM: #CECECE 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #F1F1F1}
.T_line02  {
 BORDER-RIGHT: #A1CAD4 1px solid;BORDER-BOTTOM: #CECECE 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #F1F1F1}
 
 .T_line03  {
 BORDER-RIGHT: #A1CAD4 1px solid;BORDER-BOTTOM: #A1CAD4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #DFEEF2;FONT-SIZE : 9pt; COLOR : #666666;FONT-WEIGHT: BOLD;PADDING-LEFT: 5px; PADDING-RIGHT: 5px;  }
 
 
 /* contents */
.INDICATION   { font-family : Arial, 굴림 ; font-size : 13pt; color : #157D93 ; FONT-WEIGHT: BOLD}
.INDICATION_S   { font-family : Arial, 굴림 ; font-size : 8pt; color : #666666 ;LINE-HEIGHT: 11pt }

/* print_text */
.print_t_big{  FONT-WEIGHT: BOLD ; COLOR: #000000 ; FONT-SIZE : 12pt;}
.print_t {   COLOR: #000000 ; FONT-SIZE : 10pt;}

/* contents_bulletin */
.bulletin_1 { FONT-WEIGHT: BOLD }

.bulletin_2 { COLOR: #666666 }
.bulletin_2  a:link		 { COLOR: #666666 }
.bulletin_2  a:active    { COLOR: #666666 }
.bulletin_2  a:visited	 { COLOR: #666666 }
.bulletin_2  a:hover	 { COLOR: #2391B2 }

.bulletin_3 { PADDING-LEFT : 15px ; FONT-WEIGHT: BOLD }
.bulletin_4 { PADDING-LEFT : 10px ; COLOR: #2490B1 }
.bulletin_5 { PADDING-LEFT : 10px }

/* text-color */
.tex_lb { COLOR: #08909B }

/* phone-textarea */
.ph_textarea {border:none; background:transparent; width:135px; height:100px; line-height:1.4;}


.tit01		{ color: #000000; font-family: "굴림"; font-size:10pt; }
.tit02		{ color: #000000; font-family: "굴림"; font-size:13pt; text-align:center; line-height:38px; }
.tit03		{ color: #000000; font-family: "굴림"; font-size:14pt; }
.tit04		{ color: #000000; font-family: "굴림"; font-size:19pt; line-height:130%;}
.tit05		{ color: #000000; font-family: "굴림"; font-size:19pt; text-align:center; line-height:150%; letter-spacing:5px; text-decoration:underline;}
.tit06		{ color: #000000; font-family: "굴림"; font-size:19pt; text-align:center; line-height:150%; text-decoration:underline;}
.prn11		{ color: #000000; font-family:"Dotumche"; font-size:12px; text-align:left; color:#000; font-weight:normal; padding:3 0 0 5; height:21px; line-height:18px; }
.line01		{ color: #000000; font-family: "굴림"; border-right: 1px solid #000; border-top: 1px solid #000; font-size:10pt; text-align: center; height:44px; }
.line02		{ color: #000000; font-family: "굴림"; border-top: 1px solid #000; font-size:10pt; padding-left:10px; }
.line15		{ color: #000000; font-family: "굴림"; border: 1px solid #000; }

/* 테이블 색상구분 */
.T03_1    { BACKGROUND-COLOR: #F0F5F6; PADDING-LEFT: 5px; PADDING-RIGHT: 5px;}
.T03_2    { BACKGROUND-COLOR: #F4F0E8; PADDING-LEFT: 5px; PADDING-RIGHT: 5px;}
.T03_3    { BACKGROUND-COLOR: #F1F4D7; PADDING-LEFT: 5px; PADDING-RIGHT: 5px;}

.red {  font-family: "돋움"; font-size: 12px; font-style: normal; font-variant: normal; color: #D90918}