@charset "utf-8";

.font_style1 {
    font-size:18px;
	text-decoration: underline;
	font-weight: bold;
}
.table_style {
		
}
.table_style th {
	background-color: #f3f3f3;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
}
.table_style th.first {
	border-bottom:1px solid #ccc;
}
.table_style th.last {
	border-right:1px solid #ccc;
}
.table_style td {
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	line-height: 18px;
}

.table_style span.status0{font-weight:bold;}
.table_style span.status1{color:#418bf1;font-weight:bold;}
.table_style span.status2{color:#0dd90e;font-weight:bold;}
.table_style span.status3{color:#ff4154;font-weight:bold;}
.table_style span.status4{color:#0dd90e;font-weight:bold;}

.table_style td.last {
	border-right:1px solid #ccc;
}

#layoutTable th {word-break:break-all;}  