/* HTML Elements---------------------------------------------------------*/
* { margin:0; padding:0; }
body { font:75%/1.5em '맑은고딕', 'Dotum'; color:#555; background:#fff; height:100%; }

html { height:100%; }
ul {list-style:none;}
a:link, a:visited, a:active { color:#3378bd; text-decoration:none; }
a:hover { text-decoration:underline; }
hr { display: none; }
h1 { font-size:1.2em; }
img { border:none; vertical-align:middle; }
option { padding-right: 0.5em;}
legend { display:none; }
fieldset { border:none; }

.floatLeft {float:left !important; }
.floatRight {float:right !important; }
.textLeft { text-align:left !important;}
.textCenter { text-align:center !important;}
.textRight { text-align:right !important;}
.textVertical { writing-mode:tb-lr !important; letter-spacing:2px; height:200px; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg);	-o-transform: rotate(90deg);}

.colorPoint { color:#c50050 !important;}
.colorPointS { color:#c50050; font-weight:bold; }
.colorBlue { color:#5f84c2; }
.colorTag, .colorTag a { color:#40aac8; }
.inlineEmphasis { color:#111; }
.annotation { color:#999; }
.footnote { font-size:0.9em; color:#999; }
.checkPoint {
	display:inline-blodk;
	margin-left:82px;
	padding-left:14px;
	background:url(../../images/onlinehelp/common/ic_emer_2.gif) no-repeat left 2px;
}
strong.colorPoint { font-weight:normal; color:#cc9933; }

.valign_top {vertical-align:top !important; }
.valign_middle {vertical-align:middle !important; }
.valign_bottom {vertical-align:bottom !important; }
.valign_baseline {vertical-align:baseline !important; }

.blockLeft { float:left; width:49%; }
.blockRight { float:right; width:49%; }
.blockLeft_fixed { position:absolute; top:20px; left:15px; width:164px; z-index:99; }
.blockRight_fixed { position:absolute; top:20px; right:15px; width:164px; z-index:99; }

.clear { clear:both; }
.none { display:none; }
.hidden { visibility:hidden; }

/* online_wrapper 
---------------------------------------------------------------------*/
#online_wrapper {
	max-width:2000px;
	margin:0 auto;
}

/* OnlineHelp_header
---------------------------------------------------------*/
.onlineHeader {
	position:relative;
	height:32px;
	background:#006778 url(../../images/onlinehelp/online_topbg.jpg) repeat-x;
}
.online_logo {
	position:absolute;
	padding-left:26px;
	margin-top:8px;
}
.online_contents {
	float:right;
	padding-right:26px;
	margin-top:9px;
	position:relative;
}

/* OnlineHelp_footer
---------------------------------------------------------*/
.online_footer {
	height:35px;
	background:#ebebeb repeat-x;
}
.footer_logo {
	padding-top:5px; *padding-top:10px;
}
.footer_logo img {
	vertical-align:middle;
}
.footer_logo span {
	margin-left:9px;
	color:#979797;
	font-size:0.8em;
	font-family:Tahoma;
	vertical-align:middle;
}

/* OnlineHelp_helpMenu
---------------------------------------------------------*/
.helpMenu {
	margin:26px 26px 55px 26px;
	width:932px;
	min-height:435px;
	border:1px solid #e0e0e0;
	background:#fff url(../../images/onlinehelp/helpMenu_bg.gif) repeat-x left bottom;
}
.helpMenu_group {
	margin:43px 0 0 35px;	
}
.helpMenu_group div {
	display:inline-block;
	vertical-align:top;
}
.helpMenu_group ul li {
	color:#111;
	font-size:1em;
	font-weight:bold;
}
.helpMenu_group ul li ul li {
	font-weight:normal;
}
.helpMenu_group ul li ul li a {
	color:#555555;
    padding-left:9px;
	background:url(../../images/icon/ic_point_09.gif) no-repeat left 5px;
}
.help_group01 {
	float:left;
	width:190px;
	/*min-height:347px;
	margin-bottom:43px;
	background:url(../../images/onlinehelp/helpMenu_Qbg.png) no-repeat 41px bottom;*/
}
.help_group02 {
	float:left;
	left:190px;
	padding-left:34px;
	width:190px;
	margin-bottom:43px;
	background:url(../../images/onlinehelp/help_line.gif) repeat-y top left;
}
.help_group03 {
	float:left;
	left:380px;
	width:190px;
	margin-bottom:43px;
	padding-left:39px;
	background:url(../../images/onlinehelp/help_line.gif) repeat-y top left;

}
.help_group04 {
	float:left;
	left:560px;
	width:190px;
	margin-bottom:43px;
	padding-left:39px;
	background:url(../../images/onlinehelp/help_line.gif) repeat-y top left;

}
.help_group01 span, .help_group02 span, .help_group03 span, .help_group04 span{
	display:block;
	margin-bottom:5px;
}
.colls {
	float:left;
	margin-right:50px;
}

/* OnlineHelp_leftMenu
---------------------------------------------------------*/
#online_blockMain {
	height:518px;
	overflow-y:auto;
	overflow-x:hidden;
}
#online_leftMenu {
	position:absolute;
	top:32px;
	padding:20px 5px 55px 20px;
	width:190px;
	height:443px;
	background:#234650;
}
#online_leftMenu h2 {
	color:#dedede;
	font-size:1.6em;
	/*font-family:Tahoma;*/
	font-weight:bold;
	letter-spacing:-1px;
}
#online_mainContents {
	position:relative;
	margin:0 0 0 220px;
	background:#fff;
	padding:20px 25px 25px;
}
#online_leftMenu .decoText {
	font-size:0.9em;
	font-family:'Trebuchet MS';
	line-height:14px;
	color:#777;
	position:relative;
}
#online_leftMenu .decoText span{
	position:absolute;
	top:27px;
}
.left_line {
	margin:14px 0 5px;
	height:4px;
	background:url(../../images/onlinehelp/2depth_liFirst_bg.gif) repeat-x;
}

/* 2depth */
.online_left_fixed {
	overflow-y:auto;
	overflow-x:hidden;
	height:450px;
	/*scrollbar-highlight-color: #666;
	scrollbar-shadow-color: #999;
	scrollbar-arrow-color: #999;
	scrollbar-face-color: #2e2e2e;
	scrollbar-3dlight-color: #999;
	scrollbar-darkshadow-color: #5d5d5d;
	scrollbar-track-color: #5d5d5d;*/
	margin-bottom:12px;
	scrollbar-face-color: #234650; 
	scrollbar-shadow-color: #234650; 
	scrollbar-highlight-color: #234650; 
	scrollbar-3dlight-color: #234650; 
	scrollbar-darkshadow-color: #234650; 
	scrollbar-track-color: #1c3948; 
	scrollbar-arrow-color: #c0d2d8;	
	margin-top:5px;
}
.online_left_fixed > ul > li {font-weight:bold; 
	/*padding-bottom:0px;*/
}
.online_left_fixed > ul > li.liFirst {
	margin-top:15px;
}
.online_left_fixed > ul > li.no_child > a {
	display:block;
	line-height:1.6em;
	font-size:1em;
	font-family:'Tahoma', '맑은고딕', 'Dotum';
	padding:7px 0 0 0;
	color:#dfdfdf; 
	margin:0px 0 5px 0;
	background:url(../../images/onlinehelp/2depth_liFirst_bg.gif) repeat-x;
}
.online_left_fixed > ul > li.no_child > a:hover {
	color:#fbe168; 	
	text-decoration:none;
}
.online_left_fixed > ul > li.opened {
	margin-top:4px;
}
.online_left_fixed > ul > li.licurrent > a {
	color:#fbe168; font-weight:bold;
}
.online_left_fixed > ul > li.licurrent > a:hover {
	color:#fbe168;
}
.online_left_fixed > ul > li.no_child.licurrent > a {
	color:#fbe168;
}

/* 3depth */
.online_left_fixed > ul > li > ul {
	padding:3px 0 3px 6px;
	background:#234650; 
	/*height:25px;*/
}
.online_left_fixed > ul > li > ul > li {
	font-weight:normal;
}
.online_left_fixed > ul > li > ul > li > ul {
	margin-bottom:8px;
}
/*.online_left_fixed > ul > li > ul > li > a {
	display:block;
	font-family:'Tahoma', '맑은고딕', 'Dotum';
	font-size:0.9em;
	color:#dfdfdf;
	padding:0 0 0 10px;
	background: url("../../images/icon/ic_point_10.gif") no-repeat scroll 4px 
}*/
.online_left_fixed > ul > li > ul > li > a {
	display:block;
	font-family:'Tahoma', '맑은고딕', 'Dotum';
	font-size:0.9em;
	color:#dfdfdf;
}
.online_left_fixed > ul > li > ul > li > a:hover {
	color:#f8ecb6;
	text-decoration:underline;
}
.online_left_fixed > ul > li > ul > li.licurrent > a {
	color:#fbe168;
}

/* 4depth */
.online_left_fixed > ul > li > ul > li > ul > li > a {
	display:block;
	font-family:'Tahoma', '맑은고딕', 'Dotum';
	font-size:0.9em;
	color:#dfdfdf;
	padding:0 0 0 10px;
}
.online_left_fixed > ul > li > ul > li > ul > li > a:hover {
	color:#f8ecb6;
	text-decoration:none;
}
.online_left_fixed > ul > li > ul > li > ul > li.licurrent > a {
	color:#fbe168;
}

/* OnlineHelp_contents_sample
---------------------------------------------------------*/
#onlineCon_wrapper {
	width:768px;
}
.online_contents02 {
	margin-bottom:25px;
}
.online_contents02 > h1 {
	margin:0 0 11px 3px;
	font-size:1.4em;
	color:#111;
	font-family:'Tahoma', '맑은고딕', 'Dotum';
	font-weight:bold;
}
.online_contents02 > h2 {
	margin:3px 0 11px 5px;
	font-size:1.2em;
	color:#333;
	font-family:'Tahoma', '맑은고딕', 'Dotum';
	font-weight:bold;
}
.online_contents02 > h3 {
	margin-bottom:11px;
	padding-left:10px;
	height:35px;
	font-size:1em;
	color:#333;
	font-family:'맑은고딕', 'Dotum', Tahoma;
	font-weight:bold;
	background:url(../../images/onlinehelp/h2_bg.gif) no-repeat;
}
.online_contents02 > h3 >span {
	color:#c50050;
	}
.online_contents02 > h4 {
	padding-left:24px;
	font-size:1em;
	color:#338f97;
	font-family:'맑은고딕', 'Dotum', Tahoma;
	font-weight:bold;
	background:url(../../images/onlinehelp/h3_bg.gif) no-repeat 0 3px;
}
.online_blockBox {
	position:relative;
	margin-bottom:20px;
}
.online_blockBox p {
	color:#777;
	font-family:'맑은고딕', 'Dotum', Tahoma;
	padding:10px 25px 10px 15px;
}
.online_blockBox strong {
	color:#3366cc;
}
.step_border {
	padding:5px 0 25px;
}
.step_border img {
	border:1px solid #c9c9c9;
}
.step_bg {
	width:680px;
	margin-bottom:25px;
	padding:11px 17px;
	border:1px solid #d3d687;
	background:#fdffcb;
}
.step_bg table tr td {
	vertical-align:top;
	line-height:20px;
	padding:2px 0;
	color:#111;
	font-size:1em;
	font-family:'맑은고딕', 'Dotum', Tahoma;
}
.step_bg table tr td li {
	line-height:18px;
	}
.step_bg table tr td.list {
	padding-left:3px;
}
.restriction {
	width:686px;
	margin-bottom:10px;
	padding:9px 14px;
	border:1px solid #e0e0e0;
}
.restriction_title {
	display:block;
	float:left;
	left:0;
	top:0;
}
.restriction_list {
	display:block;
	float:left;
	left:0;
	top:0;
	width:587px;
	margin:2px 0 0 21px;
}
.ic_restriction {
	display:inline-block;
	vertical-align:middle;
	width:16px;
	height:16px;
	background:url(../../images/onlinehelp/restriction_icon.gif) no-repeat;
}
.ic_restriction > span {
	display:none;
}
.rec_title {
	margin-left:2px;
	color:#777;
	font-weight:bold;
	font-size:1em;
	vertical-align:middle;
}
.restriction_list ul li {
	line-height:20px;
	color:#777;
}

/* advantage
-------------------------------------------------------- */
.advantage {
	width:714px;
	margin-bottom:10px;
	border:1px solid #e0e0e0;
}
.advantage .restriction {
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	border-right:1px solid #e3faff;
	border-bottom:1px solid #e3faff;
	background-color:#f3fcfe;
	margin:0;
	width:683px;
	}
.advantage .restriction_title {
	display:block;
	float:left;
	left:0;
	top:0;
}
.advantage .restriction_list {
	display:block;
	float:left;
	left:0;
	top:0;
	width:578px;
	margin:2px 0 0 21px;
}
.advantage .rec_title {
	color:#369;
	background:url(../../images/onlinehelp/common/advantage.png) no-repeat left top;
	padding-left:20px;
}
.advantage .restriction_list ul li {
	color:#333;
}

/* RoundBox_11-----------------------------------------------------------*/
.corner_RoundBox11 {
	position:relative;	
	background:#f6f6f6;
	padding:6px;
	border:1px solid #f6f6f6;		
	}
* html .corner_RoundBox11 {
	height:1%;
	}
.corner_RoundBox11 .l_t_corner {
	position:absolute;
	font-size:0;
	width:7px;
	height:7px;
	left:-1px; 
	top:-1px;
	background:url(../../images/onlinehelp/bg_rndbox_11.gif) no-repeat left top;
}
.corner_RoundBox11 .r_t_corner {
	position:absolute;
	font-size:0;
	width:7px;
	height:7px;
	right:-1px;
	top:-1px;
	background:url(../../images/onlinehelp/bg_rndbox_11.gif) no-repeat right top;
}
.corner_RoundBox11 .l_b_corner {
	position:absolute;
	font-size:0;
	width:7px;
	height:7px;
	left:-1px;
	bottom:-1px;
	background:url(../../images/onlinehelp/bg_rndbox_11.gif) no-repeat left bottom;
}
.corner_RoundBox11 .r_b_corner {
	position:absolute;
	font-size:0;
	width:7px;
	height:7px;
	right:-1px;
	bottom:-1px;
	background:url(../../images/onlinehelp/bg_rndbox_11.gif) no-repeat right bottom;
}

/* OnlineHelp_Module_info
---------------------------------------------------------*/
.Module_info {
	float:left;
	width:689px;
	padding:14px 0 56px 27px;
}
.Module_info ul li {
	float:left;
	right:0;
	top:0;
	margin-right:4px;
}
.Module_info ul li span {
	display:block;
	text-align:center;
	width:129px;
	height:69px;
	background:url(../../images/onlinehelp/module_infoBg.gif) no-repeat;
}
.Module_info ul li span span.txt {
	display:block;
	font-size:1.4em;
	font-family:'Tahoma', '맑은고딕', 'Dotum';
	padding-top:25px;
}
.Module_info ul li p {
	text-align:center;
	margin-top:7px;
	font-size:1.2em;
	color:#111;
	font-family:'NanumGothic', '맑은고딕', 'Dotum';
}

/* online_blockDetail
---------------------------------------------------------*/
.online_blockDetail {
	position:relative;	
	margin-bottom:30px;
	width:100%;	
	border-top:1px solid #c5c5c5;
}
.online_blockDetail table {
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
}
.online_blockDetail table caption {
	display:none;
}
.online_blockDetail table th {
	font-weight:bold;
	line-height:18px;
	text-align:right;
	color:#333;
	padding:7px 5px 4px 5px;
	border:1px solid #c5c5c5;	
	border-top:none;	
	background:#f6f6f6;			
}
.online_blockDetail table th a:link, .online_blockDetail table th a:visited, .online_blockDetail table th a:active, .online_blockDetail table th a:hover {
	color:#333;
	text-decoration:none;
}
.online_blockDetail table td {
	line-height:18px;
	padding:7px 5px 4px 5px;
	border:1px solid #c5c5c5;	
	border-top:none;	
	background-color:#fff;	
}
.online_blockDetail table td {
	padding-left:12px;
}
.colorRed {
	color:#d40000;
}
.dot {
	background:url(../../images/onlinehelp/dot.gif) no-repeat 0 6px;
	padding-left:8px;
}
.dot02 {
	background:url(../../images/onlinehelp/dot.gif) no-repeat 0 8px;
	padding-left:8px;
}

/* img border / no border / border Box
---------------------------------------------------------*/
.ImgInBox {
	border:1px solid #c9c9c9;
	margin-bottom:20px;
	text-align:center;
	padding:20px;
	min-width:674px;
}
.ImgNoBorder, .ImgBorder {
	margin-bottom:20px;
	text-align:center;
	max-width:714px;
}
.ImgBorder img{ border:1px solid #c9c9c9; }
.borderBox {
	border:1px solid #c9c9c9;
	margin-bottom:20px;
	padding:20px;
}

/* paragraph with depth - ex)profile > 3.1 
---------------------------------------------------------*/
.section { margin-bottom:15px; padding:0 10px; }
.section h4 { color:#338f97; margin-bottom:3px; }
.section > ul > li, .section > .borderBox > ul > li  {
	margin-bottom:3px;
	background:url(../../images/onlinehelp/dot.gif) no-repeat 0 8px;
	padding-left:8px;
}
.section .level1 { margin-left:9px; }

.ex_block_1 {
	background:url(../../images/onlinehelp/common/bg_cate_tit_1_l.gif) no-repeat left top;
	padding-left:2px;
	margin-right:4px;
	display:inline-block;
	height:16px;
}
.ex_tit_1 {
	background:url(../../images/onlinehelp/common/bg_cate_tit_1_r.gif) no-repeat right top;
	font-size:0.9em;
	font-weight:normal;
	padding-right:2px;
	display:inline-block;
	color:#fff;
}

/* etc 
---------------------------------------------------------*/
.inlineImg { margin-bottom:4px } /* Profile - twitter, facebook icon */

.basic a.selected {
		color:#fbe168 !important; 
		font-weight:bold;
}

.innerLink > li.selected > a {
	color:#fbe168;
}

.innerLink > li > ul > li.selected > a {
	color:#fbe168;
}

#btnOutlook { font-weight:bold; color:white; display:inline-block; width:182px; height:15px; margin:0 10px; background:url(../../images/onlinehelp/btn_outlook.png) no-repeat; }
#helpHome { display:inline-block; width:50px; height:15px; maring:0 10px; background:url(../../images/onlinehelp/contents_btn.gif) no-repeat; }

#outlookContainer { position:absolute;top:16px; left:7px; background:url(../../images/onlinehelp/bg_utilmenu_sub.gif); display:none; z-index:100; }
.utilmenu_box { margin-top:7px; width:210px; border-bottom:1px solid #999; border-right:1px solid #999; }
.utilmenu_box > ul { padding:10px 12px; }
.utilmenu_box > ul > li { padding-bottom:5px; display:block; }
.utilmenu_box > ul > li > a { padding:0 0 2px 8px; background:url(../../images/icon/ic_arrow_3.gif) no-repeat 0 4px; }
.utilmenu_box li { white-space:nowrap; }
.utilmenu_box li a { color:#555; }
.utilmenu_box > ul > li > a:hover { color:#111; text-decoration:none; background:url(../../images/icon/ic_arrow_4.gif) no-repeat 0 4px; }
.utilmenu_box > ul > li > a:hover { color:#111; text-decoration:none; background:url(../../images/icon/ic_arrow_4.gif) no-repeat 0 4px; }

.img_question_mark { float:left; margin:20px 0 0 60px; width:88px; height:139px; background:url(../../images/onlinehelp/helpMenu_Qbg.png) no-repeat; }
.img_elife { float:left; margin-left:27px; margin-top:78px; width:461px; height:61px; background:url(../../images/onlinehelp/bi_help.png) no-repeat; }
.img_elife_en { float:left; margin-left:27px; margin-top:78px; width:461px; height:61px; background:url(../../images/onlinehelp/bi_help_en.png) no-repeat; }
.img_helpdesk { float:right; margin-right:30px; margin-top:-15px; width:234px; height:200px; background:url(../../images/onlinehelp/ba_help.png) no-repeat; }
.img_helpdesk_en { float:right; margin-right:30px; margin-top:-40px; width:234px; height:200px; background:url(../../images/onlinehelp/ba_help_en.png) no-repeat; }



