ul.tabs {
	margin: 0;
	float: left;
	list-style: none;
	line-height:18px;
	height: 30px;
	width: 99%;
	border-bottom: 2px solid #497fd2;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	line-height:18px;
	height: 30px;
	overflow: hidden;
	background:#99adcf;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #deeaff;
	display: block;
	padding: 7px 20px;
	text-align:center;
	font-weight:bold;
	outline: none;
}
ul.tabs li a:hover {
	color: #eadf81;
	text-align:center;
	font-weight:bold;
	background:#2a6cd1;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	color: #eadf81;
	text-align:center;
	font-weight:bold;
	background: #2a6cd1;
	border-bottom: 1px solid #89a6d2; /*--Makes the active tab look like it's connected with its content--*/
}

b_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px 20px 20px 15px;
}