/*
 * jsTree ikep theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-ikep li, 
.jstree-ikep ins { background-image:url("../../../../images/jstree/ikep/d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-ikep li { background-position:-90px 0; background-repeat:repeat-y; }
.jstree-ikep li.jstree-last { background:transparent; }
.jstree-ikep .jstree-open > ins { background-position:-72px 0; }
.jstree-ikep .jstree-closed > ins { background-position:-54px 0; }
.jstree-ikep .jstree-leaf > ins { background-position:-36px 0; }

.jstree-ikep .jstree-hovered { background:#e3edf5; }
.jstree-ikep .jstree-clicked { background:#e3edf5; }
.jstree-ikep a .jstree-icon { background-position:-56px -19px; }
.jstree-ikep a.jstree-loading .jstree-icon { background:url("../../../../images/jstree/ikep/throbber.gif") center center no-repeat !important; }

.jstree-ikep.jstree-focused { background:transparent; }

.jstree-ikep .jstree-no-dots li, 
.jstree-ikep .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-ikep .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-ikep .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-ikep .jstree-no-icons a .jstree-icon { display:none; }

.jstree-ikep .jstree-search { font-style:italic; }

.jstree-ikep .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-ikep .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-ikep .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-ikep .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-ikep .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-ikep .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-ikep .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-ikep .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-ikep ins { background:transparent !important; }
#vakata-dragged.jstree-ikep .jstree-ok { background:url("../../../../images/jstree/ikep/d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-ikep .jstree-invalid { background:url("../../../../images/jstree/ikep/d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-ikep { background:url("../../../../images/jstree/ikep/d.png") -41px -57px no-repeat !important; }

.jstree-ikep a.jstree-search { color:aqua; }

#vakata-contextmenu.jstree-ikep-context, 
#vakata-contextmenu.jstree-ikep-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-ikep-context li { }
#vakata-contextmenu.jstree-ikep-context a { color:black; }
#vakata-contextmenu.jstree-ikep-context a:hover, 
#vakata-contextmenu.jstree-ikep-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-ikep-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-ikep-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-ikep-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-ikep-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-ikep li, 
.jstree-ikep ins,
#vakata-dragged.jstree-ikep .jstree-invalid, 
#vakata-dragged.jstree-ikep .jstree-ok, 
#jstree-marker.jstree-ikep { _background-image:url("../../../../images/jstree/ikep/d.gif"); }
.jstree-ikep .jstree-open ins { _background-position:-72px 0; }
.jstree-ikep .jstree-closed ins { _background-position:-54px 0; }
.jstree-ikep .jstree-leaf ins { _background-position:-36px 0; }
.jstree-ikep a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-ikep-context ins { _display:none; }
#vakata-contextmenu.jstree-ikep-context li { _zoom:1; }
.jstree-ikep .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-ikep .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-ikep .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */

/* customize style */
.jstree a > ins.none {
    display : none;
    width : 0px;
}
.jstree a > ins.dept {
    background : none;
    width : 0px;
}
.jstree a > ins.person {
    background-color: transparent;
    background-image: url("../../../../images/jstree/ikep/icon_customize.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.jstree a > ins.personLeader {
    background-color: transparent;
    background-image: url("../../../../images/jstree/ikep/icon_customize1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.jstree a > ins.teamopenoff {
    background-color: transparent;
    background-image: url("../../../../images/jstree/ikep/ic_teamopen_off.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.jstree a > ins.teamopenon {
    background-color: transparent;
    background-image: url("../../../../images/jstree/ikep/ic_teamopen_on.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.jstree a > ins.board_category {
    display : inline-block;
    background-position : -56px -19px;
}
.jstree .context_hide {
	display:none;	
}