/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	fontFamily: "Dotum";
	fontSize: 12;
}

s|Application
{
	background-color: #FAFAFA;
}
mx|DataGrid {
	font-size: 11;
	header-style-name: "datagridHeader";
	alternating-item-colors: #FAFAFA, #D4E0F9;

	border-style: solid;
	border-color: #C0C0C0;
	border-visible: true;
	vertical-grid-lines: false;
}

.datagridHeader {
	text-align: center;
	font-size: 12;
}

.mainBox {
	padding-top: 7px;
	padding-right: 7px;
	padding-left: 7px;
	padding-bottom: 7px;
}


.gridDeleteBtn {
	upSkin: Embed(source="resources/btn_de_off.gif");
	disabledSkin: Embed(source="resources/btn_de_off.gif");
	overSkin: Embed(source="resources/btn_de_over.gif");
	downSkin: Embed(source="resources/btn_de_over.gif");
}





.Applicationn {
	paddingBottom: 7;
	paddingLeft: 7;
	paddingRight: 7;
	paddingTop: 7;
	
	background-color: #FFFAB0;
}

.previewImage {
	border-style: inset;
	border-color: #D2D2D2;
	border-visible: true;
}

.mainApp {
	border-style: inset;
	border-color: #CCCCCC;
	border-visible: true;
}
	
/*
 * Progress Windows
 */

.progressApplication {
	border-style: inset;
	border-color: #000000;
	border-visible: true;
}

.progressTitle {
	backgroundColor: #FF0000;
	color: #FF0000;
}




.progressWindow {
	corner-radius: 5;
	title-style-name: "progressTitle";
	control-bar-style-name: "progressTitle";
}


