/* CSS file */

@font-face 
{
	src: url("assets/fonts/NanumGothic.swf");
	fontFamily: "나눔고딕";
}

@font-face
{
	src: url( "assets/fonts/NanumGothicBold.swf");
	fontFamily: "나눔고딕 Bold";
}

/* @font-face
{
	src: url("assets/fonts/y130.swf");
	fontFamily : "-윤고딕130";
	fontWeight : bold;
} */
/* 
@font-face
{
	src: url("assets/fonts/MALGUN.TTF");
	fontFamily : "MALGUN";
}
 */
 /* 
@font-face
{
	src: url("assets/fonts/MALGUNBD.TTF");
	fontFamily : "MALGUNBD";
}
 */
Alert
{
    modalTransparency : 0;
    modalTransparencyBlur : 0;
    fontSize :12;
	color : #0f3177;
	title-style-name : “alertTitle”;
	header-height:19;
	border-thickness: 1;
	drop-shadow-enabled: true;
	drop-shadow-color :#d1ddf7;
	background-color: #ffffff;
	corner-radius :6;
	border-style :solid;
	header-colors : #F0F7FF, #D7EBFF;
	footer-colors : #9db6d9, #ffffff;
	border-color : #5970a0;
	fontFamily: "나눔고딕 Bold";
}

Button
{
	fontFamily: "나눔고딕 Bold";
}

ToolTip
{
    fontSize :12;
}

ComboBox
{
    cornerRadius: 0;
    fillAlphas: 1.0, 1.0;
    fillColors: #FFFFFF, #FFFFFF;
}

.mainTitle 
{
   fontSize : 15;
   color : #000000;
   fontFamily: "나눔고딕 Bold";
}

.controlTitle 
{
   fontSize : 12;
   color : #000000;
   fontFamily: "나눔고딕 Bold";
}

TrackerPanel 
{
	headerHeight : 24;
    borderThicknessLeft : 0;
    borderThicknessTop : 0;
    borderThicknessBottom : 0;
    borderThicknessRight : 0;
    borderColor : #FFFFFF;
    borderAlpha : 1;
    roundedBottomCorners : true;
    dropShadowEnabled : false;
    headerColors : #CBCBD0, #7B7C8B;
    titleStyleName : "panelTitle";
}

.panelTitle 
{
   fontSize : 13;
   color : #000000;
   fontFamily: "나눔고딕 Bold";
   fontWeight : bold;
   textIndent : 30;
}

DataGrid 
{
	headerColors : #FFFFFF,#D1D1D1;
	borderStyle : none;
	verticalGridLines : true;
	horizontalGridLines : true;
	horizontalGridLineColor : #B7BABC;
	textAlign : center;
	fontSize: 12;
    headerStyleName : "dataGridHeaderStyle";
}

.dataGridHeaderStyle 
{
	borderStyle : solid;
    fontSize: 12;
    color: #0C343D;
    textAlign: center;
}

TitleWindow 
{ 
	modalTransparency : 0;
    modalTransparencyBlur : 0;
    fontSize :12;
	color : #0f3177;
	title-style-name : “alertTitle”;
	header-height:19;
	border-thickness: 1;
	drop-shadow-enabled: true;
	drop-shadow-color :#d1ddf7;
	background-color: #ffffff;
	corner-radius :6;
	border-style :solid;
	header-colors : #90a4d1, #5970a0;
	footer-colors : #9db6d9, #ffffff;
	border-color : #5970a0;
	fontFamily: "나눔고딕 Bold";
	/* cornerRadius: 5;
	dropShadowEnabled: true;
	roundedBottomCorners: true;
	backgroundAlpha: 1;
	borderAlpha: 1;
	borderThicknessLeft: 0;
	borderThicknessRight: 0;
	borderThicknessTop: 0;
	borderStyle: undefined;
	headerColors: #e7e7e7, #ffffff;
	footerColors: #ffffff, #ffffff;
	titleStyleName: "riaTitle"; */
}

.txtTabNormal 
{
	color: #FFFFFF;
	fontFamily: "나눔고딕 Bold";
	textAlign: left;
	fontSize: 12;
	borderStyle: none;
	backgroundAlpha: 0;
	cornerRadius: 4;
}

.txtTabNormal2
{
	color: #808080;
	fontFamily: "나눔고딕 Bold";
	textAlign: left;
	fontSize: 12;
	borderStyle: none;
	backgroundAlpha: 0;
	cornerRadius: 4;
}

.txtTabSelected 
{
	color: #000000;
	fontFamily: "나눔고딕 Bold";
	fontSize: 12;
	borderStyle: none;
	backgroundAlpha: 0;
	cornerRadius: 4;
}

.tabFirstUp
{
	backgroundImage:Embed(source="assets/skins/icons.swf",symbol="tab_first_up");
	backgroundSize:"90%";
}

.tabFirstSelect
{
	backgroundImage:Embed(source="assets/skins/icons.swf",symbol="tab_first_select");
	backgroundSize:"90%";
}

.tabMiddleUp
{
	backgroundImage:Embed(source="assets/skins/icons.swf",symbol="tab_middle_up");
	backgroundSize:"100%";
}

.tabMiddleSelect
{
	backgroundImage:Embed(source="assets/skins/icons.swf",symbol="tab_middle_select");
	backgroundSize:"100%";
}

.tabLastUp
{
	backgroundImage:Embed(source="assets/skins/icons.swf",symbol="tab_last_up");
	backgroundSize:"100%";
}

.tabLastSelect
{
	backgroundImage:Embed(source="assets/skins/icons.swf",symbol="tab_last_select");
	backgroundSize:"100%";
}