

#guideWrapper{width:990px;margin:0 auto;}
#guideHeader{height:60px;padding:0 15px;position:relative;}
#siteLogo{display:block;top:22px;position:absolute;border:0;}
#siteLogo img{border:0}

#guideNavi{font:100%/1.5em "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif; float:right;clear:right;margin-top:15px;background:url(../images/guide/bg_secondaryNav_left.gif) no-repeat;}
#guideNavi ul{float:left;background:url(../images/guide/bg_secondaryNav_right.gif) right top no-repeat;padding:0 8px;margin:0;}
#guideNavi ul li{float:left;list-style:none;border-left:1px solid #5a5a5a;height:34px;margin:0;background:none;padding:0;}
#guideNavi ul li.li-first{border-left:none;}
#guideNavi ul li.li-last{border-right:none;}
#guideNavi li a{float:left;padding:0 12px;font-size:1.1em;color:#EEE;text-decoration:none;line-height:34px;position:relative;}
#guideNavi li a:hover{color:#FFF;}


#guideContent{background:#ced5d8; padding:15px;}
#guideContent pre{font-weight:normal; font-family:Tahoma; float:none;width:auto;}
.con_bg { *border-bottom:1px solid #ced5d8; background:#FFF;}
#guideLeftMenu { float:left; width:180px; background:#FFF;}
#contentsWrap_home {float:left; width:100%;}
#contentsWrap { float:right; width:765px; border-left:solid 15px #ced5d8;}

#guideLeftMenu {	font:100%/1.5em "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;}
#guideLeftMenu h1 {font-size:1.4em; letter-spacing:-0.05em; color:#17212b; padding:17px 15px;}
#guideLeftMenu ul {
	margin:5px 15px 10px;
	padding:0;
}
#guideLeftMenu ul li {
	font-size:1.1em;
	color: #e87b10;
}
#guideLeftMenu ul ul {
	margin:5px 0 15px;
}
#guideLeftMenu li li a {	
	display:block;
	font-size:0.8em;
	padding: 0 3px 5px 0;	
	margin:0;
	text-decoration: none;	
	color: #555 ;		
	height:13px;
	border-bottom: 1px solid #F4F4F4;	
}
#guideLeftMenu li li a:hover {	
	display:block;
	color:#000;	
	background: #f3f3f3;		
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}
#guideLeftMenu li li.selected a {	
	color:#FFF;	
	background: #999;		
	-moz-border-radius:3px; 
	-webkit-border-radius: 3px;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

#guideFooter{ font-size:0.9em;background:#0F1923 url(../images/guide/bg_footerGrad.jpg) top repeat-x;margin-bottom:3em;padding:1.0em 40px;}
#guideFooter p{color:#fff;margin:.5em 0;line-height:1.4;}


/* guideConFrame---------------------------------------------------------*/
#guideConFrame {
	min-height:600px;
	padding:10px 15px;
	line-height:1.3em;
}
.guideConTitle { display:block; margin:10px 0 20px; *margin:20px 0; padding-bottom:5px; border-bottom:1px solid #EEE;}
.guideConTitle > a.refer {  font-family:"Trebuchet MS"; font-size:0.9em; color:#777; float:right; margin-top:-12px; *margin-top:-14px; padding-left:11px; background:url(../images/guide/ic_arrow_05.gif) no-repeat left 4px;}
.guideConTitle > a:hover.refer {color:#333;}
.guideConTitle h2 { font-family:"Trebuchet MS"; font-size:1.4em; letter-spacing:-0.05em; }
.guideConTitle h2.guidetitle_han { font-family:Dotum; font-size:1.4em; letter-spacing:-0.05em; }
#guideConFrame h4 { font-family:"Trebuchet MS"; font-size:1.1em; color:#FF9900;}
#guideConFrame h4 + a { font-family:"Trebuchet MS"; font-size:0.9em; color:#777; float:right; margin-top:-14px; padding-left:14px; background:url(../images/guide/ic_newwin.gif) no-repeat left 4px;}
#guideConFrame h4 + a:hover { color:#333; }
#guideConFrame h4.guidetitle_han { color:#222f3c; font-family:Dotum; font-size:1.2em; letter-spacing:-0.05em; padding:0 0 5px 10px; margin-bottom:20px; border-bottom:1px solid #DDD ; background:url(../images/guide/ic_guidetitle.gif) no-repeat left top;}
#guideConFrame h4.guidetitle_han + a { margin-top:-39px; }
#guideConFrame h5 { font-family:Dotum; font-size:1em; letter-spacing:-0.05em;}
.g_date { color: #e87b10;}
.g_title { font-weight:bold; padding-bottom:5px;}
.g_con { padding-left:10px; padding-bottom:10px;}
.UI_sample, .UI_method, .UI_event { padding:10px 12px; margin:3px 0 20px; border:1px solid #E5E5E5; }
.UI_sum { padding:15px 0 5px; }
.UI_source { 
	overflow-x:auto; 
	scrollbar-highlight-color: #fff;
	scrollbar-shadow-color: #ccc; 
	scrollbar-arrow-color: #ccc;
	scrollbar-face-color: #fff; 
	scrollbar-3dlight-color: #ccc;
	scrollbar-darkshadow-color: #fff;
	scrollbar-track-color: #fff;	
	white-space:nowrap;
	margin:3px 0 20px;
	padding:5px;
	color:#5a5d60; 	
	border:1px solid #DDD; 
}
.UI_sample h5 {padding:0 0 5px 6px; background:url(../images/guide/ic_arrow_01.gif) no-repeat 0 5px; }
.UI_method ul { padding:0; margin:0; }
.UI_method li { padding:0 0 10px 10px; background:url(../images/guide/ic_arrow_02.gif) no-repeat 0 4px; }
.UI_method ul ul { padding-left:5px; }
.UI_method li li { padding:0 0 0 6px; background:url(../images/guide/ic_arrow_03.gif) no-repeat 0 7px; }
.UI_method li li li { padding-left:6px; background:none; }

.UI_event ul { padding:0; margin:0; }
.UI_event li { padding:0 0 10px 10px; background:url(../images/guide/ic_arrow_02.gif) no-repeat 0 4px; }
.UI_event ul ul { padding-left:5px; }
.UI_event li li { padding:0 0 0 6px; background:url(../images/guide/ic_arrow_03.gif) no-repeat 0 7px; }
.UI_event li li li { padding-left:6px; background:none; }

.line_1px {border-bottom:1px dotted #DDD; padding:10px 0; margin-bottom:10px; }

#guideTab ul li { font-family:"Trebuchet MS",Verdana; font-size:0.9em; margin:-1px 0 0 1px; border:none; }

body.popup { margin:10px; }

.cssguide {
	border:1px dotted #d0d0d0; 
	padding:10px 10px 10px 60px; 
	margin:20px 0 40px;
	background:url(../images/guide/txt_guide.gif) no-repeat 10px 13px;
}

.ac_con_exp {
	padding:5px 0 15px 0;	
}
.ac_con_exp_t { 
	padding-bottom:10px;
}
.ac_con_box {
	padding:10px;
	margin:5px 0 25px;
	border:3px solid #eee;
}
.ac_con_box img { vertical-align:top; }
.ac_con_box th {
	text-align:right;
	padding:5px 3px 5px 15px;
}
.ac_con_box td {
	text-align:left;
	padding:5px 15px 5px 3px;
}
.blockGuide .guideTitle {
	position:absolute;
	top:-17px;
	left:20px;
}
.blockGuide .guideCon {
	padding:3px 0 0 10px;
}
.blockGuide .guideCon img {vertical-align:top; }
.guideCon ul li {
	padding:2px 0 0 12px; 
	_display:inline-block;
	background:url(../images/icon/ic_point_01.gif) no-repeat 0 5px;
}

.download li {
	display:inline;
}
.download a:link, .download a:visited, .download a:active {
	color:#FF8400;
}
.download a:hover {
	color:#FF0000;
 	text-decoration: none;
}
.sampleList {
	margin:5px 0 20px;
}
.sampleList li a {
	color:#666;
}
.sampleList li a:hover {
	color:#000;
}