@charset "utf-8";
/* CSS Document */


.kms_tab_menu_common1 {overflow:hidden; width:100%; border-bottom:1px solid #d1d1d1; margin-bottom:8px}
.kms_tab_menu_common1 ul {_display:inline; float:left; /*margin-right:-1px;*/  color:#999; font-weight:bold;}  
.kms_tab_menu_common1 ul a {display:block; _float:left; height:21px; border:1px solid #d4d4d4; border-bottom:none; padding:8px 28px 0 19px; color:#999; text-decoration:none}
.kms_tab_menu_common1 ul a:hover {background:url(../images/common/tab_bg2.gif); color:#656565; border:1px solid #d1d1d1; border-bottom:none;}  
.kms_tab_menu_common1 li.selected {background:url(../images/common/tab_bg2.gif); }  
.kms_tab_menu_common1 li.selected a {color:#656565; font-weight:bold; border:1px solid #d1d1d1; border-bottom:none;}  
.kms_tab_menu_common1 li.selected a:hover {color:#656565; background:url(../images/common/tab_bg2.gif); font-weight:bold;}  

.subTitle_1a { position:relative; margin-bottom:10px; border-bottom:2px solid #8aacde; padding-bottom:2px;}
.subTitle_1a.noline { border:none; margin-bottom:0; }
.subTitle_1a h3 { padding:0 0 0 10px; font-size:1em; color:#333; background:url(../../images/icon/ic_title_03.gif) no-repeat left 2px; }
.subTitle_1a h3 img { padding-right:3px;vertical-align: text-bottom; }
.subTitle_1a .btn_more {position:absolute; top:3px;	right:4px;}

/* HTML Elements
---------------------------------------------------------*/
* { margin:0px; padding:0px; }
body { font:75%/1.5em '맑은 고딕', Tahoma, 'Dotum'; color:#555; background:#fff; height:100%; }
html { height:100%; }
ul { list-style:none; }
a:link, a:visited, a:active { color:#3378bd; text-decoration:none; outline:none;}
a:hover { text-decoration:underline; }
hr { display: none; }
h1 { font-size:1.2em; }
img { border:none; }
option { padding-right: 0.5em; }
legend { display:none; }
fieldset { border:none; }