html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.login_wrap * {
  box-sizing: border-box;
}
.login_wrap {
  background:url("../images/login/newlogin_bg.jpg") no-repeat right center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.login_box {
  position: absolute;
  top:50%;
  right: 18%;
  margin-top: -250px;
}
@media screen and (max-width:1400px) {
  .login_box {
    right: 15%;
  }
}
.login_box dt {
  margin-bottom: 20px;
}
.login_box dd {
  z-index: 2;
  margin: 0;
  width: 375px;
  height: 370px;
  background: white;
  -moz-box-shadow:  0 0 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0  10px rgba(0,0,0,0.4);
  box-shadow: 0 0  10px rgba(0,0,0,0.4);
}
.login_box dd .login_text {
  display: block;
  background:url("../images/login/newlogin_img.png") no-repeat 70px 25px;
  height: 90px;
  margin: 0 18px;
  border-bottom: 1px solid #dddddd;
  text-indent: -9999px;
  font-size: 0px;
}
.login_box dd .login_input {
  margin: 20px 80px;
  padding: 0;
}
.login_box dd .login_input li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Malgun Gothic, 맑은고딕, Dotum, 돋움, tahoma;
  font-size: 12px;
}
.login_box dd .login_input li .label_id,
.login_box dd .login_input li .label_pw {
  display: block;
  background:url("../images/login/newlogin_img.png") no-repeat;
  width: 100%;
  height: 18px;
  text-indent: -9999px;
  font-size: 0;
  margin-top: 20px;
}
.login_box dd .login_input li .label_id {
  background-position: 0px -100px;
}
.login_box dd .login_input li .label_pw {
  background-position: -300px -100px;
}
.login_box dd .login_input li input[type="text"],
.login_box dd .login_input li input[type="password"] {
  border: 1px solid #999999;
  height: 35px;
  width: 100%;
  font-size: 13px;
  font-family: tahoma;
  line-height: 33px;
  padding: 0 10px;
}
.login_box dd .login_input li .id_check {
  display: inline-block;
  margin-top: 12px;
}
.login_box dd .login_input li .id_check in {
  vertical-align: top;
  cursor: pointer;
}
.login_box dd .login_input li .id_check label {
  vertical-align: top;
  cursor: pointer;
}
.login_box dd .login_input li .pw_check {
  display: inline-block;
  width: 90px;
  height: 20px;
  background:url("../images/login/newlogin_img.png") no-repeat 0 -200px;
  text-indent: -9999px;
  font-size: 0px;
  float: right;
  margin-top: 12px;
}
.login_box dd .login_input li .pw_check:hover,
.login_box dd .login_input li .pw_check:focus,
.login_box dd .login_input li .pw_check:active {
  background-position: -300px -200px;
}
.login_box dd .login_input li .login_btn {
  display: block;
  width: 205px;
  height: 35px;
  background:url("../images/login/newlogin_img.png") no-repeat 0 -300px;
  text-indent: -9999px;
  font-size: 0px;
  margin: 0 auto;
  margin-top: 25px;
}
.login_box dd .login_input li .login_btn:hover,
.login_box dd .login_input li .login_btn:focus,
.login_box dd .login_input li .login_btn:active {
  background:url("../images/login/newlogin_img.png") no-repeat -300px -300px;
}
