@charset "utf-8";
/* CSS Document */
body {font-family:돋움; color:#999}
p, dl, dt, form, select, table, input { font-size:11px; font-family:돋움; color:#666; }

/* common */

.sched_table tr td {border:1px solid #c3dbfc; padding:1px	}
.sched_input  {border:0; background:none; float:right;padding-left:2px; margin-top:2px; line-height:13px; color:#666; font-size:10px; border:0px solid #ffff00}
.sched_inner_table  tr td {border:0px solid #ff0000}
.diary_select{border:0px solid #666; background:none; margin-top:1px; color:#666; font-size:12px; } 
.diary_input  {border:0; background:none; float:right; margin-top:2px; line-height:15px; color:#666; font-size:12px; border:0px solid #ffff00}
.diary_p {width:90px;border:0; background:none; float:right; margin-top:2px; line-height:15px; color:#666; font-size:12px; border:	0px solid #ffff00}

#wrap       {position: absolute; left:0px;	top: 0px;	width:1024px;	min-height:685px;	background: url(../images/webDiary/backgr2.jpg) no-repeat;	border:0px solid #ff0000;	height: 685px;}

#header     {position:absolute; top:33px; left:506px; width:479px; height:40px; padding:0;  border:0px solid #ff0000;}
.float_left {float:left } 
#content    {position: relative; left:40px; top:90px;width:930px;border:0px solid #dfdfdf;height:593px;}
.left_area	{position: relative; top:0; left:0; width:218px;height:545px; background:url(../images/webDiary/todo_bg.png); border:0px solid #ff0000; float:left;} 
.calendar	{position: relative; top:30px; left:20px; width:178px;height:178px;} 

.todo_list	{position: relative; top:5px; left:20px; width:173px;height:516px; padding:0 5px 0 0; background:url(../images/webDiary/todo_bg2.png);border:0px solid #ff0000 } 
.todo_list_line {height:25.45px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

.todo_list_calendar { position:absolute; top:30px; left:40px; margin-top:10px;z-index:20;  border:1px solid #ff0000; box-shadow:2px 2px 10px 3px #3A3A3A; background-color:#dfdfdf; display:inline-block;padding:7px 22px 7px 15px; min-width:100px; }
.todo_list_calendar .btnClose { position:absolute; top:8px; right:8px; }


/* 나의할일 상세보기 */
.todo_detail_title {position:fixed;  top:77px;  left:550px; width:410px; height:50px;  padding:18px 0 0 5px ; float:left;  border:0px solid #ff0000;  background:url(../images/webDiary/btn_tle2.jpg) right bottom no-repeat;  }
.todo_detail_title dl dt{float:left; margin-right:2px; height:29px; line-height:47px; border:0px solid #ff0000; }
.todo_detail	{position: absolute; top:55px; left:515px;float:left; width:420px; height:477px;  border:0 px solid #ffff00; overflow-y: auto  ; overflow-style:marquee-line; overflow-x:hidden; z-index:50; background:url(../images/webDiary/todo_bg5.jpg) ;} 
/* 나의할일 상세보기 끝 */
.plan_date_select {position:absolute	; top:50px;  left:220px; width:210px; height:30px;  padding:0 ;  border:0px solid #099; z-index:50 }
/*.plan_date_font {font-weight:bold;color:#ff6203;font-size:14px;font-family:'굴림';}*/
.plan_date_font {font-weight:bold;color:#ff6203;font-size:16px;font-family:'굴림'; border:0px solid #ff0000; height:20px; text-align: center;line-height;16px}
.plan_title {position:fixed;  top:75px;  left:260px; width:210px; height:50px; background:url(../images/webDiary/plan_tle.png) no-repeat; padding:18px 0 0 5px ; float:left;  border:0px solid #ff0000; }
.plan_title dl dt{float:left; margin-right:2px; height:27px; line-height:47px; border:0px solid #ff0000; }

.plan		{position: relative; top:90px; left:5px;float:left; width:210px; height:450px;  border:0px solid #ffff00; overflow-y: auto  ; overflow-style:marquee-line; overflow-x:hidden } 
.space_left {height:20px; padding-left:10px;border:0px solid #ff0000; cursor: pointer;}
.note_title {position:fixed;  top:75px;  left:560px; width:410px; height:50px; padding:19px 0 0 5px ; float:left;  border:0px solid #ff0000;  }
.note_title dl dt{float:left; margin-right:2px; height:27px; line-height:57px;}
.note	{position: relative; top:55px; left:90px;float:left; width:410px; height:522px;  border:0x solid #ffff00; background:url(../images/webDiary/todo_bg4.png) 5px 0px no-repeat } 
.note table,.note td,.note tr {height:26px;padding-left: 10px; border:none}
.note_text {position:relative;top:10px; left:0; height:245px; overflow-y: auto  ; overflow-style:marquee-line;  overflow-x:hidden; }
.note_text table,.note_text td,.note_text tr {height:26px;padding:5px ; border:none}
.note_index table,.note_index td,.note_index tr {height:30px;padding:0px ;  font-size:11px;}
.note_list_height {height:155px;}





/* layer box 1 -------------------------------------------------------------------------------------------------- */
div.note_layerBox {  position:absolute; top:10px; right:0; margin-top:10px; }
div.note_layerBox > div { border-radius:5px; border:3px solid #4489C0; box-shadow:2px 2px 10px 3px #3A3A3A; background-color:white; display:inline-block;padding:7px 22px 7px 15px; min-width:100px; }
div.note_layerBox > div > span.arrow {  display:block; position:absolute; top:-10px; right:10px; width:14px; height:13px; background:url(../images/webDiary/box_arrow_blue.png) no-repeat; }
div.note_layerBox > div > a.btnClose { position:absolute; top:8px; right:8px; }
div.note_layerBox > div > h4 { font-weight:bold; color:#333; font-size:1.1em; border-bottom:1px dashed #666666; padding-bottom:6px; }

div.note_layerBox > div {
border-radius: 5px;
border: 3px solid #4489C0;
box-shadow: 2px 2px 10px 3px #3A3A3A;
background-color: white;
display: inline-block;
padding: 7px 22px 7px 15px;
min-width: 100px;
}

a.web_diary { color:#000; text-decoration:none; font-size:12px; }
