<div id="popup" style="min-width:680px">

	<!--popup_title Start
	<div id="popup_title_2">
        <div class="popup_bgTitle_l"></div>
		<h1>참여자 일정 확인</h1>
		<a href="#a"><span>닫기</span></a>
	</div>
	popup_title End-->
	
	<!--popup_contents Start-->
	<div id="popup_contents" style="margin:10px 0 0;">
		
		<div class="floatLeft mt5"><a class="button_ic" id="address-search" href="#a"><span><img src="${addrImgSrc}" alt="" />Address</span></a>
		<span id="clickSearchMessage">주소록에서 등록 후 Search 버튼을</span></div>
		<div class="schSearch">
			<input type="text" class="inputbox" id="searchDate" title="" value="" size="10" />
			<a class="button_ic search" href="#a"><span><img src="${searchImgSrc}" alt="" />Search</span></a>
		</div>

		<!--blockShuttle Start-->
		<div class="blockSchedule">
			<h2><span>3/27</span> <span>구성원 일정</span></h2>
			<div class="schBox_l">
				<div class="sbox"><!--셔틀높이 좌우를 style로 설정할 것-->
				<!--blockListTable Start-->
				<div class="blockListTable schTable">
					<table id="scheduleList" summary="참가자 일정">
						<caption></caption>
						<colgroup>
							<col width="*" />
							<col width="4%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />	
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />
							<col width="2%" />									
						</colgroup>
						<thead>
							<tr>
								<th colspan="2" scope="col"></th>
								<th colspan="6" scope="col">6</th>
								<th colspan="6" scope="col">9</th>
								<th colspan="6" scope="col">12</th>
								<th colspan="6" scope="col">15</th>
								<th colspan="6" scope="col">18</th>
								<th colspan="6" scope="col">21</th>
								<th colspan="6" class="tdLast" scope="col">24</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<!--//blockListTable End-->	
				</div>
			</div>
			<div class="schBox_r">
				<div id="detail-schedule" class="sbox">
				</div>
			</div>		
			<div class="clear"></div>			
		</div>
		<!--//blockShuttle End-->

		<!--blockButton Start-->
		<div class="blockButton">
			<ul>
				<li id="btn_ok"><a class="button" href="#a"><span>확인</span></a></li>
				<li id="btn_cancel"><a class="button" href="#a"><span>취소</span></a></li>
			</ul>
		</div>
		<!--//blockButton End-->	
						
	</div>
	<!--//popup_contents End-->
</div>