#calendar {
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
	font-family: '맑은 고딕',Helvetica,Arial,Verdana,sans-serif;	
	}
	
input[disabled] {
  background: #FEFEFA;
  color: #FEFEFA;
  cursor:default;
}

.ilink { cursor:pointer }

.hidden {
	display: none;
}

.recurrence,
.fc-agenda .recurrence .fc-event-time,
.recurrence a {
	 background-color: #FFFF66;
	 border-color: #FFCC33;
	 color: #000000;
}

.forever,
.fc-agenda .forever .fc-event-time,
.forever a {
	 background-color: #003300;
	 border-color: #CC9B9B;
	 color: #FFFFFF;
}

.fc-event-time{
	font-size:0.9em;
}

.fc-header-left span {
	font-size:0.9em;
}
.fc-header-left .button_s {
	font-size:0.9em;
	letter-spacing:-0.05em;
}
.fc-header-right {
	padding-right:1px 
}
.fc-header-right li {
	display:inline;
	margin-left:3px;
}
.fc-header-right li .button_s {
	font-size:0.9em;
	letter-spacing:-0.05em;
}
.fc-header-title {
	*display: inline;
}
.fc-header-title h2 {
	font-family:Tahoma;
	font-size:1.3em;
	margin-top:2px; *margin-top:0;
	padding:0 10px;
	white-space: nowrap;
	color:#41454d;
}
.fc-button-prev a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(../../images/common/btn_month_pre.gif) no-repeat;
}
.fc-button-next a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(../../images/common/btn_month_next.gif) no-repeat;
}

.fc-list-add a {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(../../images/icon/ic_plus_b.gif) no-repeat;	
}

.fc-ic-attach {
	display:inline-block;
	width:7px;
	height:11px;
	background:url(../../images/icon/ic_attach.gif) no-repeat;	
}

table.fc-header {
	margin-bottom:10px;
}
thead .fc-widget-header {
	height:22px;	
	line-height:22px;
	padding-top:2px;
	font-size:11px;
	font-weight:normal;
	border-bottom:none;
	background:url(../../images/theme/theme01/basic/bg_listtable_th.gif) repeat-x bottom;
}
tbody .fc-widget-header {
	font-size:0.9em;
	font-weight:normal;
}
.fc-view-agendaDay tbody .fc-widget-header {
	border-left:none;
}
.fc-widget-header .num {
	font-family:Tahoma;
	font-size:12px !important;
	font-weight:bold;
}
.fc-agenda-allday {
	border-top:1px solid #aaa;
}
	
.fc-event-skin {
	border-color: #C0C0C0;      /* default BORDER color */
	background-color: #FFFFFF;  /* default BACKGROUND color */
	color: #000000;            /* default TEXT color */
}
.fc-event-inner {
	font-size:12px;
	font-family:'맑은 고딕', Tahoma, 'Dotum';
	line-height:15px;
	white-space: nowrap;
	overflow: hidden;
}
.fc-event-allday {
	border-color: #4180de;      /* default BORDER color */
	background-color: #4587eb;  /* default BACKGROUND color */
	color: #FFFFFF;            /* default TEXT color */
}
.fc-event-holiday {
	color: #FF0000
}
.fc-event a {
	font-size:1em;
}
.fc-event a:hover {
	text-decoration:none;
}
.fc .fc-grid th, .fc-agenda-head .fc-first th.fc-state-default {
	color:#333;
	font-family:'맑은 고딕', Tahoma, 'Dotum';
	font-size:0.9em;
	font-weight:bold;
	border-bottom:1px solid #aaa;
	background:url(../../images/common/bg_calTable.gif) repeat-x bottom;
	text-align: center;
}
.fc-sun {
	color:
}
.fc .fc-grid th.fc-leftmost {
	border-left:none;
}
.fc-agenda-head .fc-first th.fc-state-default {	
	padding:2px 0 2px 0;
}
.fc-agenda-head th.fc-leftmost, .fc-agenda-body th.fc-leftmost {
	border-left:none;
	background:#f8f8f8;
}
.fc-agenda-head tr.fc-all-day th {
	height:22px;
}
.fc .fc-divider div {
	height: 0;
}
.fc .fc-divider .fc-state-default {
	border-color:#808080;
	border-bottom:none;
}
.fc-sun { color:#e91212 !important;}
.fc-day-number { font-family:Tahoma; font-size:1em; margin-bottom:0px; }
.fc-day-sun span { font-size:0.9em; font-weight:normal; padding-left:3px; }
.fc-day span { font-size:0.9em; font-weight:normal; padding-left:3px; }

.fc-view-agendaDay .fc-state-highlight { /* today */
	background: #fff;
}
.fc-view {
	scrollbar-highlight-color: #fff;
	scrollbar-shadow-color: #ccc; 
	scrollbar-arrow-color: #ccc;
	scrollbar-face-color: #fff; 
	scrollbar-3dlight-color: #ccc;
	scrollbar-darkshadow-color: #fff;
	scrollbar-track-color: #fff;	
}
.fc-border-separate th, .fc-border-separate td {
	font-size:12px;
}
	
.cal_color_01 {	border:#a4c2d2;	background:#c4e3e6; }
.cal_color_02 {	border:#638cd9;	background:#6e9cf2; }
.cal_color_03 {	border:#798ccb;	background:#8394cf; }
.cal_color_04 {	border:#717a8b;	background:#7b8493; }
.cal_color_05 {	border:#424242;	background:#4b4b4b; }
.cal_color_06 {	border:#2ab0be;	background:#2eb8c7; }
.cal_color_07 {	border:#65bac9;	background:#69c2d2; }
.cal_color_08 {	border:#8ba4cd;	background:#97add2; }
.cal_color_09 {	border:#8ea0b2;	background:#94a5b6; }
.cal_color_10 {	border:#8562cd;	background:#8c66d9; }
.cal_color_11 {	border:#42b51f;	background:#44be1e; }
.cal_color_12 {	border:#88c141;	background:#93cc4b; }
.cal_color_13 {	border:#adadad;	background:#b4b4b4; }
.cal_color_14 {	border:#9a80af;	background:#a28ab5; }
.cal_color_15 {	border:#b47fcc;	background:#c08bd7; }
.cal_color_16 {	border:#aab727;	background:#b0bc2d; }
.cal_color_17 {	border:#c4b856;	background:#ccc05d; }
.cal_color_18 {	border:#b8ac90;	background:#beb297; }
.cal_color_19 {	border:#d48b8b;	background:#da9b9b; }
.cal_color_20 {	border:#e05472;	background:#f06280; }
.cal_color_21 {	border:#d3b800;	background:#dec200; }
.cal_color_22 {	border:#dd9913;	background:#e6a11b; }
.cal_color_23 {	border:#ee601b;	background:#f3672a; }
.cal_color_24 {	border:#dd2d2d;	background:#f62d2d; }
.cal_color_25 {	border:#c03e38;	background:#d2423c; }

.cal_color_box {
	display:inline-block; *vertical-align:middle;
	width:8px; 
	height:8px; 
	margin:0 3px;
}
.cal_color_box_2 {
	display:inline-block; 
	vertical-align:middle;
	width:8px; 
	height:8px; 
	margin:0 3px 2px;
}
.cal_color_box_sample {
	display:inline-block; *vertical-align:middle;
	width:50px; 
	height:8px; 
	margin:0 3px;
}
.cal_color_box_sample1 {
	display:inline-block; *vertical-align:middle;
	width:80px; 
	height:10px; 
	margin:3px 0px 0px 3px;
}

span.event_color_button_active { border:2px solid orange; border-radius:3px; display:inline-block; }
.event_color_button { display: inline-block; vertical-align: middle; width: 18px; height: 15px; }
span.event_color_button { border: 1px solid #EEEEEE; }
a.event_color_button { margin: 1px; cursor: pointer; }

.event_class_type1 {
	background-color:#c4e3e6; 
	border:#a4c2d2; 
}
.event_class_type2 {
	background-color: #6e9cf2; 
	border: #638cd9;
}
.event_class_type3 {
	background-color: #8394cf; 
	border: #798ccb;
}
.event_class_type4 {
	background-color: #7b8493; 
	border: #717a8b;
}
.event_class_type5 {
	background-color: #4b4b4b; 
	border: #424242;
}
.event_class_type6 {
	background-color: #2eb8c7; 
	border: #2ab0be;
}
.event_class_type7 {
	background-color: #69c2d2; 
	border: #65bac9;
}
.event_class_type8 {
	background-color: #97add2; 
	border: #8ba4cd;
}
.event_class_type9 {
	background-color: #94a5b6; 
	border: #8ea0b2;
}
.event_class_type10 {
	background-color: #8c66d9; 
	border: #8562cd;
}
.event_class_type11 {
	background-color: #44be1e; 
	border: #42b51f;
}
.event_class_type12 {
	background-color: #93cc4b; 
	border: #88c141;
}
.event_class_type13 {
	background-color: #b4b4b4; 
	border: #adadad;
}
.event_class_type14 {
	background-color: #a28ab5; 
	border: #9a80af;
}
.event_class_type15 {
	background-color: #c08bd7; 
	border: #b47fcc;
}
.event_class_type16 {
	background-color: #b0bc2d; 
	border: #aab727;
}
.event_class_type17 {
	background-color: #ccc05d; 
	border: #c4b856;
}
.event_class_type18 {
	background-color: #beb297; 
	border: #b8ac90;
}
.event_class_type19 {
	background-color: #da9b9b; 
	border: #d48b8b;
}
.event_class_type20 {
	background-color: #f06280; 
	border: #e05472;
}
.event_class_type21 {
	background-color: #dec200; 
	border: #d3b800;
}
.event_class_type22 {
	background-color: #e6a11b; 
	border: #dd9913;
}
.event_class_type23 {
	background-color: #f3672a; 
	border: #ee601b;
}
.event_class_type24 {
	background-color: #f62d2d; 
	border: #dd2d2d;
}
.event_class_type25 {
	background-color: #d2423c; 
	border: #c03e38;
}

.font_event_class_type1 {
	color:#c4e3e6; 
}
.font_event_class_type2 {
	color: #6e9cf2; 
}
.font_event_class_type3 {
	color: #8394cf; 
}
.font_event_class_type4 {
	color: #7b8493; 
}
.font_event_class_type5 {
	color: #4b4b4b; 
}
.font_event_class_type6 {
	color: #2eb8c7; 
}
.font_event_class_type7 {
	color: #69c2d2; 
}
.font_event_class_type8 {
	color: #97add2; 
}
.font_event_class_type9 {
	color: #94a5b6; 
}
.font_event_class_type10 {
	color: #8c66d9; 
}
.font_event_class_type11 {
	color: #44be1e; 
}
.font_event_class_type12 {
	color: #93cc4b; 
}
.font_event_class_type13 {
	color: #b4b4b4; 
}
.font_event_class_type14 {
	color: #a28ab5; 
}
.font_event_class_type15 {
	color: #c08bd7; 
}
.font_event_class_type16 {
	color: #b0bc2d; 
}
.font_event_class_type17 {
	color: #ccc05d; 
}
.font_event_class_type18 {
	color: #beb297; 
}
.font_event_class_type19 {
	color: #da9b9b; 
}
.font_event_class_type20 {
	color: #f06280; 
}
.font_event_class_type21 {
	color: #dec200; 
}
.font_event_class_type22 {
	color: #e6a11b; 
}
.font_event_class_type23 {
	color: #f3672a; 
}
.font_event_class_type24 {
	color: #f62d2d; 
}
.font_event_class_type25 {
	color: #d2423c; 
}

.ic_planner_company { 
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-bottom:2px;
	background:url(../../images/icon/ic_appr_left_menu08.gif) no-repeat;
}
.ic_planner_my {
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-bottom:2px;
	background:url(../../images/icon/ic_planner_my.png) no-repeat;
}
.ic_planner_entrust {
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-bottom:2px;
	background:url(../../images/icon/ic_planner_entrust.png) no-repeat;
}
.ic_planner_workspace {
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-bottom:2px;
	background:url(../../images/icon/ic_planner_workspace.png) no-repeat;
}
.ic_planner_other {
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-bottom:2px;
	background:url(../../images/icon/ic_planner_other.png) no-repeat;
}





