@charset "utf-8";

/* editor */
.wcNone {display:none;}
#editorDiv {width:100%;position:relative;}
#editorDiv #toolBarBgDiv {display:none;background-color:#ffffff;z-index:2000;position:absolute;top:0;left;0;width:100%;height:26px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:alpha(opacity=60); opacity: 0.6;}
#editorDiv #toolBarDiv {background-color:#f0f0f0;width:100%;height:26px;border-bottom:buttonshadow solid 1px;border-top:#f0f0f0 solid 2px;}
#editorDiv #toolBarDiv ul{width:100%;list-style:none;padding:0px;margin:0px;}
#editorDiv #toolBarDiv ul li{float:left;height:22px;width:23px;border:#f0f0f0 solid 1px;background-position:center;background-repeat:no-repeat;cursor:pointer;font:12px 돋움,Dotum,sans-serif; color:#333;}
#editorDiv #toolBarDiv ul li.down{border-bottom:buttonhighlight solid 1px;border-left:buttonshadow solid 1px;border-right:buttonhighlight solid 1px;border-top:buttonshadow solid 1px;background-color:#dddddd;};
#editorDiv #toolBarDiv ul li.out{border-color:#f0f0f0;}
#editorDiv #toolBarDiv ul li.up{border-color:#f0f0f0, background-color:#f0f0f0}
#editorDiv #toolBarDiv ul li.over{border-bottom:buttonshadow solid 1px;border-left:buttonhighlight solid 1px;border-right:buttonshadow solid 1px;border-top:buttonhighlight solid 1px;}
#editorDiv #toolBarDiv ul a{text-decoration:none;color:#333;font-weight:bold;padding-top:5px;}
#editorDiv #toolBarDiv ul li.starter {border-left: buttonhighlight solid 1px; border-right: buttonshadow solid 1px;width: 2px;}
#editorDiv #toolBarDiv ul li.separator {border-left: buttonshadow solid 1px; border-right: buttonhighlight solid 1px; width: 1px;}
#editorDiv #toolBarDiv #fontnameLi{width:60px;background-image:url('../img/up.gif');background-position:51px 50%;background-repeat:no-repeat;}
#editorDiv #toolBarDiv #fontnameLi a{display:block;width:60px;}
#editorDiv #toolBarDiv #fontnameLi a span{display:block;width:50px;height:14px;text-align:center;overflow:hidden;cursor:pointer;}
#editorDiv #toolBarDiv #fontsizeLi{width:42px;background-image:url('../img/up.gif');background-position:33px 50%;background-repeat:no-repeat;}
#editorDiv #toolBarDiv #fontsizeLi #fontsizeA{display:block;width:40px;padding-left:2px;}
#editorDiv #toolBarDiv #forecolorLi{background-color:#000000;}
#editorDiv #toolBarDiv #backcolorLi{background-color:#ffffff;}
#editorDiv #editDiv {height:350px;}
#editorDiv #editDiv #resizeDiv{width:100%;height:100%;display:none;background-color:#f9f9f9;}
#editorDiv #editDiv #editIframe {overflow-x: auto; overflow-y: scroll;}
#editorDiv #modeDiv {position:relative;}
#editorDiv #modeDiv div{background-color:#f0f0f0;height:17px;border-top:buttonshadow solid 1px;}
#editorDiv #modeDiv div.resize{cursor:n-resize;background-image:url('../img/sizemore.gif');background-position: center;background-repeat:no-repeat;}
#editorDiv #modeDiv ul {list-style:none;padding:0px;margin:0px;position:absolute;top:0;right:2px;}
#editorDiv #modeDiv ul li {float:right;height:15px;cursor:pointer;}
#editorDiv #modeDiv ul #editorModeLi.on {width:59px;background:url('../img/button.png') 0 -25px no-repeat;vertical-align:top;}
#editorDiv #modeDiv ul #editorModeLi.off {width:59px;background:url('../img/button.png') 0 0 no-repeat;vertical-align:top;}
#editorDiv #modeDiv ul #htmlModeLi.on {width:60px;background:url('../img/button.png') -59px -25px no-repeat;vertical-align:top;}
#editorDiv #modeDiv ul #htmlModeLi.off {width:60px;background:url('../img/button.png') -59px 0 no-repeat;vertical-align:top;}
/*
#editorDiv #modeDiv ul #textModeLi.on {width:60px;background:url('../img/button.png') -118px -25 no-repeat;vertical-align:top;}
#editorDiv #modeDiv ul #textModeLi.off {width:60px;background:url('../img/button.png') -118px 0 no-repeat;vertical-align:top;}
*/

#editorDiv iframe.buttonIframe{position:absolute;top:28px;left:0px;display:none;}
#editorDiv #fontnameFrame {width:160px;height:255px;z-index:1001;}
#editorDiv #fontsizeFrame {width:300px;height:283px;z-index:1002;}
#editorDiv #forecolorFrame {width:230px;height:270px;z-index:1003;}
#editorDiv #backcolorFrame {width:230px;height:270px;z-index:1004;}
#editorDiv #tableFrame {width:200px;height:185px;z-index:1005;}
#editorDiv #fieldsetFrame {width:485px;height:55px;z-index:1006;}
#editorDiv #hrFrame {width:230px;height:283px;z-index:1007;}
#editorDiv #linkFrame {width:300px;height:35px;z-index:1009;}
#editorDiv #urlimageFrame {width:290px;height:45px;z-index:1009;}
#editorDiv #imageFrame {width:300px;height:75px;z-index:1010;}
#editorDiv #characterFrame {width:490px;height:300px;z-index:1011;}