@charset "utf-8";

* {margin:0; padding:0;}
html{overflow:scroll; overflow-x:auto;}
body {font-family:굴림;font-size:12px;color:#333333;}
form *, input, select, textarea, h2, h3, h4, img, span {vertical-align:middle;}
a         {text-decoration:none; color:#333333;selector-dummy :expression(this.hideFocus=true);}
a:link    {text-decoration:none; color:#333333;}
a:visited {text-decoration:none; color:#333333;}
a:active  {text-decoration:none; color:#333333;}
a:hover   {text-decoration:none; color:#333333;}

img {border:0 none;}
img.link {cursor:pointer;}
img.close {position:absolute; cursor:pointer; right:1px; top:1px};
div.clear {clear:both; background:none;}
div.dotted {width:100%;height:1px; background:url(../img/footer_line.gif) repeat-x bottom;margin:7px 0 7px 0;}
div.over{background-color:#ebebeb;}
table {border-collapse:collapse;}
input.txt-default{border-left:1px solid #acacac; border-top:1px solid #acacac; border-right:1px solid #dadada;border-bottom:1px solid #dadada;padding:2px 0 0 2px;}
input.txtUpdown{width:18px;height:14px;border-left:1px solid #acacac; border-top:1px solid #acacac; border-right:1px solid #dadada;border-bottom:1px solid #dadada;padding-left:2px;font-size:11px;}
input.btn-default {cursor:pointer; background:url(../img/btn_type01.gif) no-repeat left top;font-weight:normal;height:23px;width:55px;border:none;}


/* iframe
----------------------------------------------------------*/
#ifrmMainDiv {width:100%; height:100%; background-color:#fbfbfb;}

#ifrmMainDiv #ifrmLayoutDiv{border:1px solid #c4c4c4;}
#ifrmMainDiv #ifrmLayoutDiv #fontnameDiv div{height:13px;padding:5px;cursor:pointer;}
#ifrmMainDiv #ifrmLayoutDiv #fontnameDiv div span{color:#888888;}
#ifrmMainDiv #ifrmLayoutDiv #fontsizeDiv div{padding:5px 5px 0px 5px;cursor:pointer;}
#ifrmMainDiv #ifrmLayoutDiv #forecolorDiv div{float:left;width:110px;height:15px;text-align:center;padding-top:3px;cursor:pointer;border:solid 1px #ebebeb;}
#ifrmMainDiv #ifrmLayoutDiv #backcolorDiv div{float:left;width:110px;height:15px;text-align:center;padding-top:3px;cursor:pointer;border:solid 1px #ffffff;color:#ffffff;}
#ifrmMainDiv #ifrmLayoutDiv #hrDiv div{float:left;width:110px;height:10px;text-align:center;padding-top:5px;cusor:pointer;border:solid 1px #ebebeb;}
#ifrmMainDiv #ifrmLayoutDiv #plateDiv {position:absolute;width:120px;top:10px;left:50px;background-color:#ffffff;display:none}
#ifrmMainDiv #ifrmLayoutDiv #buttonDiv{height:25px;text-align:center;vertical-align:middle;}
#ifrmMainDiv #ifrmLayoutDiv #tableDiv {padding:15px 10px;height:150px;}
#ifrmMainDiv #ifrmLayoutDiv #tableDiv div{float:left;}
#ifrmMainDiv #ifrmLayoutDiv #tableDiv .t1{width:80px;height:20px;}
#ifrmMainDiv #ifrmLayoutDiv #tableDiv .t2{width:80px;height:20px;}
#ifrmMainDiv #ifrmLayoutDiv #tableDiv span.updown{border-top:1px solid #acacac; border-right:1px solid #dadada;border-bottom:1px solid #dadada;}
#ifrmMainDiv #ifrmLayoutDiv #tableDiv #tableColorDiv div{float:left;height:30px;}
#ifrmMainDiv #ifrmLayoutDiv #tableDiv #borderColorSpan{width:14px;height:14px;border:#333333 1px solid;display:block;cursor:pointer;}
#ifrmMainDiv #ifrmLayoutDiv #tableDiv #backColorSpan{width:14px;height:14px;border:#333333 1px solid;display:block;cursor:pointer;}
#ifrmMainDiv #ifrmLayoutDiv #fieldsetDiv div{float:left;height:40px;width:48px;padding-right:5px;}
#ifrmMainDiv #ifrmLayoutDiv #fieldsetDiv div fieldset{text-align:center;width:100%;height:100%;}
#ifrmMainDiv #ifrmLayoutDiv #charNaviDiv span{cursor:pointer;}