@charset "utf-8";
/* CSS Document */

body{ font:75%/1.5em Tahoma,'돋움', 'Dotum'; color:#000; background:#fff; height:100%; font-weight:normal;_text-align:center; margin:0px 2px 0px 0px;}
img { vertical-align:middle;}
.border_none { border:none !important;}
a:visited, a:active { color:#154a93 !important; text-decoration:none !important;}
a:link, a:hover { color:#154a93 !important; text-decoration:none !important; }
#wrap { width:100%; height:100%; margin:0 auto; _text-align:left; background-color:#BFDBFF;}
#header_l { position:relative; width:100%; height:28px; background:url(../../images/workflow/bg_top_l.gif) no-repeat left top; display: inline-block; min-width:900px;}
#header_l h1 { text-align:center; font-size:0.9em; padding-top:3px; color:#15428b;}
#header_r { position:absolute; top:0; right:0px !important; height:28px; width:10px; background:url(../../images/workflow/bg_top_r.gif) no-repeat right top; }
#container { width:100%; height:100%; padding-top:2px; background-color:#bfdbff; border-left:1px solid #3b5a82; border-right:1px solid #3b5a82; min-width:900px;}
#container:after { display:block;clear:both;content:'';}
.lnb { float:left; width:100%; height:%; background:#fff;}
#content { width:100%; min-width:675px;}
#footer_l { width:100%; height:20px; background:url(../../images/workflow/bg_footer_l.gif) no-repeat left top; display: inline-block;}
#footer_r { position:absolute; right:0; width:10px; height:20px; background:url(../../images/workflow/bg_footer_r.gif) no-repeat right top;}

/* lnb
---------------------------------------------------------*/
.lnb h2 { font-family:'돋움', 'Dotum'; height:18px; font-size:0.9em; color:#154a93; font-weight:normal; background-color:#b8cfe9; border:1px solid #d5e4f2; padding:1px 4px 0 7px;}
.lnb h2 p { position:relative; top:-17px; right:0; text-align:right;}
.lnb .l_tree { height:100%; border:1px solid #a6a6a6; padding:0px;}
.lnb .l_tree .partition { height:28px; padding:4px 0 0 6px;; background:url(../../images/workflow/bg_partition.gif) repeat-x; display:block;}
.l_tree_wrap { padding:0 6px;}


/* button
---------------------------------------------------------*/
.btn { position:relative; top:2px; *top:-17px; right:0; text-align:right; *position:static; padding-top:0px;}
.slide { float:right; width:18px; padding-top:0px;}
.slide a { display:block;	width: 18px; background: url(../../images/workflow/btn_left_slide.gif) no-repeat; height: 15px;}
.slide a:hover { background-position:left -15px;}
.slide span {	display: none;}

.t_close { float:right; width:19px; padding-top:0px; top:-15px; right:10px; *padding:6px 4px 0 0;}
.t_close a { display:block;	width: 19px; background: url(../../images/workflow/btn_t_close.gif) no-repeat; height: 18px;}
.t_close a:hover { background-position:left -18px;}
.t_close span {	display: none;}

a.button, a.button span { 
	position:relative; 
	margin-right:4px; 
	display:inline-block; 
	border:0; 
	white-space:nowrap; 
	background:url(../../images/workflow/btn_basic.gif) no-repeat;
	vertical-align:middle; 
	overflow:visible;
	text-decoration:none;
}
a.button { 
	text-decoration:none; 
	padding:0; 
	background-position:left top;	
}
a:hover.button {
	text-decoration:none !important;
	background:url(../../images/workflow/btn_basic_over.gif) no-repeat;
}
a.button span { 
	height:21px; 
	left:10px;  
	color:#000;	
	font-size:0.9em;
	padding:0 10px 0 0;
	line-height:22px;
	background-position:right top; 
	cursor:pointer;
	text-decoration:none;
}
a:hover.button span {
	font-weight:normal;
	text-decoration:none;
	background:url(../../images/workflow/btn_basic_over.gif) right top;
}
a.button img {
	padding:0 4px 3px 0;
}


a.button_s, a.button_s span { 
	position:relative; 
	margin-right:3px; 
	display:inline-block; 
	border:0; 
	white-space:nowrap; 
	background:url(../../images/theme/theme01/basic/btn_basic_s.gif) no-repeat;
	overflow:visible;
}
a.button_s { 
	text-decoration:none; 
	padding:0; 
	background-position:left top;	
}
a:hover.button_s {
	text-decoration:none !important;
	font-weight:normal;
}
a.button_s span { 
	height:20px; 
	font-size:0.9em; /* *font-family:'돋움', 'Dotum', Tahoma; */
	left:7px;  
	color:#111;	
	padding:0 7px 0 0; *padding:1px 7px 0 0;
	line-height:20px;
	background-position:right top; 
	cursor:pointer;
}
a.button_s img {
	padding:0 5px 2px 0;
	vertical-align:text-top;
}
a.button_s.selected {
	background:url(../../images/theme/theme01/basic/btn_basic_s_selected.gif) no-repeat left top;
}
a.button_s.selected span {
	color:#c50050;
	background:url(../../images/theme/theme01/basic/btn_basic_s_selected.gif) no-repeat right top;
}
.select {
	font:75%/1.5em Tahoma,'돋움', 'Dotum' !important;
	height:18px;
}


/* content_box
---------------------------------------------------------*/
.t_box_tab { width: 100%; height: 20px; background: url(../../images/workflow/bg_tab_box1.gif) no-repeat left top;}
.t_box_conbox_l { position:relative; width:100%; height: 58px; background: url(../../images/workflow/bg_tab_box2_l.gif) no-repeat left top; }
.t_box_conbox_r { position:absolute; width:10px; height: 59px; top:-1px; right:0; background: url(../../images/workflow/bg_tab_box2_r.gif) no-repeat right top; }
.t_box_btn { position:relative; padding:4px 14px 7px 0;}
.t_box_btn li { padding-right:-2px; margin-left:0px; display:inline;}
.t_box_btn li div { display:inline;}
.t_box_con {font-family:'돋움','Dotum'; padding:1px 0 0 20px; *padding:3px 0 0 20px;}
.t_box_con img {margin-bottom:1px; vertical-align:middle;}
.t_box_con span {padding:0 4px 0 4px;}
.t_box_con span.ty1 { font-size:0.9em; color:#3e6aaa;}
.t_box_con span.ty1 p { font-weight:normal; color:#3e6aaa; display:inline;}
.p_box_con {display:table; width:100%; border:1px solid #a6a6a6; margin-top:4px; right:10px; background: url(../../images/workflow/bg_con_box1.gif) left bottom; }
.p_box_con p { text-align:center; display:table-cell; vertical-align:middle;}
.p_box_con p a:link, a:hover { color:#154a93 !important; font-weight:bold; text-decoration:underline !important; }
.p_box_info { background: url(../../images/workflow/bg_con_box2.gif) left bottom;}
.p_box_info p { text-align:center; display:table-cell; vertical-align:middle;}
.p_box_info p a:link, a:hover { color:#154a93 !important; font-weight:bold; text-decoration:underline !important; }

.p_box_info_con {display:table; width:100%; border:1px solid #a6a6a6; margin-top:4px; right:10px; background-color: #fff; left top; }
.p_box_info_con p { text-align:center; display:table-cell; vertical-align:middle;}
.p_box_info_con p a:link, a:hover { color:#154a93 !important; font-weight:bold; text-decoration:underline !important; }
.p_box_info_con h2 { font-family:'돋움', 'Dotum'; height:18px; font-size:0.9em; color:#154a93; font-weight:normal; background-color:#b8cfe9; border:1px solid #d5e4f2; padding:1px 4px 0 7px;}
.p_box_info_con h2 p { position:relative; top:-17px; right:0; text-align:right;}
.p_box_info_con .box_ty1 {overflow:auto;border:1px solid #a6a6a6; background-color:#fff; padding:4px 4px 2px 4px; }

.p_box_search { position: absolute; top:-2px; right:1px; display: block; text-align:right;}

/* blockDetail
---------------------------------------------------------*/
.blockDetail {
	position:relative;	
	margin-bottom:3px;
	padding:0 1px 1px 1px;
	border-right:1px solid #9eb6ce;
	border-bottom:1px solid #9eb6ce;
	border-left:1px solid #9eb6ce;	
}
.bt1 {
	border-top:1px solid #9eb6ce !important;
}
.blockDetail table {
	width:100%;
	border-collapse:collapse;
	font-size:0.9em;
}
.blockDetail table caption {
	display:none;
}
.blockDetail table th {
	font-weight:normal;
	line-height:14px;
	text-align:right;
	color:#000;
	padding:4px 5px 2px 5px;
	border:1px solid #9eb6ce;	
	border-top:none;	
	background: url(../../images/workflow/bg_th1.gif) repeat-x;	
}
.blockDetail table th a:link, .blockDetail table th a:visited, .blockDetail table th a:active, .blockDetail table th a:hover {
	color:#333;
	text-decoration:none;
}
.blockDetail table td {
	line-height:14px;
	padding:1px 5px 2px 5px;				
	word-break:break-all;	
	border:1px solid #eae9e9;	
	border-bottom:none;
}
.blockDetail table td .inputbox {
	margin:-4px 0 -1px; *margin:-5px 0 -2px;
}
.blockDetail table td .m_none {
	margin:0 0 1px 0; *margin:0 0 1px 0;
	height: auto;
}
.blockDetail .selectbox { 
	vertical-align:top;
}
.blockDetail .listStyle li {
	padding:2px 0;
}
.tdInstruction {
	padding:5px 0;
	color:#888;
}
.blockTableInfo {
	text-align:right;
	padding-bottom:5px;
}
.totalNum_s {
	vertical-align:bottom;
}
.first {
	border-left:none !important;	
}
.last {
	border-right:none !important;	
}


.blockDetail_1 {
	position:relative;	
	margin-bottom:3px;
	padding:0 1px 1px 1px;
	border-right:1px solid #9eb6ce;
	border-bottom:1px solid #9eb6ce;
	border-left:1px solid #9eb6ce;
}
.blockDetail_1 table {
	width:100%;
	border-collapse:collapse;
	font-size:0.9em;
}
.blockDetail_1 table caption {
	display:none;
}
.blockDetail_1 table th {
	font-weight:normal;
	line-height:14px;
	text-align:right;
	color:#000;
	height:18px;
	padding:4px 5px 2px 5px;
	border:1px solid #9eb6ce;	
	border-top:none;	
	background: url(../../images/workflow/bg_th1.gif) repeat-x;	
}
.blockDetail_1 table th a:link, .blockDetail table th a:visited, .blockDetail table th a:active, .blockDetail table th a:hover {
	color:#333;
	text-decoration:none;
}
.blockDetail_1 table td {
	line-height:14px;
	padding:2px 5px 2px 5px;				
	word-break:break-all;	
	border:1px solid #eae9e9;	
	border-bottom:none;	
}
.blockDetail_1 table td .inputbox {
	margin:0px 0 -1px; *margin:-5px 0 -2px;
}
.blockDetail_1 .selectbox { 
	vertical-align:top;
}
.blockDetail_1 .listStyle li {
	padding:2px 0;
}


.blockDetail_2 {
	position:relative;	
	margin:8px 8px 4px 8px;
	padding:12px;
	background:#fff;
	border:1px solid #7e9ecf;
}
.blockDetail_2 table {
	width:100%;
	border-collapse:collapse;
	font-size:0.9em;
}
.blockDetail_2 table caption {
	display:none;
}
.blockDetail_2 table th {
	font-weight:normal;
	line-height:20px;
	text-align:right;
	color:#000;
	height:18px;
	padding:4px 5px 2px 5px;
}
.blockDetail_2 table th a:link, .blockDetail table th a:visited, .blockDetail table th a:active, .blockDetail table th a:hover {
	color:#333;
	text-decoration:none;
}
.blockDetail_2 table td {
	line-height:20px;
	padding:2px 5px 2px 5px;				
	word-break:break-all;	
}
.blockDetail_2 table td .inputbox {
	margin:0px 0 -1px; border:1px solid #6981a8; line-height: normal;
}
.blockDetail_2 table td textarea {
	margin:0px 0 -1px; *margin:-5px 0 -2px; margin-top:4px !important; border:1px solid #6981a8;
}
.blockDetail_2 .selectbox { 
	vertical-align:top;
}
.blockDetail_2 .listStyle li {
	padding:2px 0;
}
.dotline_1 {
	height:1px;
	padding-top:10px !important;
	margin-bottom:-5px !important;
	background:url(../../images/common/dotline_1px.gif) repeat-x 50%;
}

/* blockButton
---------------------------------------------------------*/
.blockButton {
	position:relative;
	text-align:right; 
	height:24px;
	margin:0 10px 7px 6px;
	*width:95%;
}
.blockButton li {
	display:inline;
}
.underline {
	 border-bottom: 1px solid #e6e6e6;
	 padding-bottom:5px;
}
.blockButton a.button {
	margin-right:4px;
}


/* directive
---------------------------------------------------------*/
.directive {
	margin-top:8px;
	padding:4px 12px;
	border:1px solid #e8e5e4;
	background:#feffee;
}
.directive li {
	background:url(../../images/icon/ic_emer_01.gif) no-repeat left 3px;
	padding-left:15px;
	line-height:14px;
}
.directive li span {
	color:#777777 !important;
	font-size:11px !important;
	letter-spacing:-0.1em !important;
}

/* layout_box
---------------------------------------------------------*/
.content_leftbox {
	position:absolute;
	padding-left:4px;
	width:100%;
	height:100%;
	*top:30px;
	*left:0;
	border-left:1px solid #3B5A82;
}
.content_rightbox {
	border-right:1px solid #3B5A82;
	height:100%;
	padding-right:4px;
}
.leftbox {
	float:left;
	width:46% !important;
}
.centerbox {
	height:100%;
	float:left;
	text-align:center;
	width:8% !important;
	display:table;
}
.centerbox span {
	display:table-cell;
	vertical-align:middle;
}
.centerbox img {
	vertical-align:middle;
	padding-top:5px !important;
	padding-left:2px !important;
}
.rightbox {
	float:right;
	width:46% !important;	
}
.leftbox_m {
	float:left;
	margin:5px 0 5px 5px;
}
.leftbox_m select.ty1 {
	width:120px;
	height:120px;
	font:0.9em Tahoma,'돋움', 'Dotum' !important;
	line-height:50px !important;
	padding:4px;
	border:1px solid #7e9ecf;
}
.rightbox_m {
	position:  absolute;
	right:5px;
	margin:5px 0 5px 5px;
}
.rightbox_m textarea.ty1 {
	width:200px;
	height:110px;
	font:0.9em Tahoma,'돋움', 'Dotum' !important;
	line-height:50px !important;
	padding:4px;
	border:1px solid #7e9ecf;
}
.box1 {
	position:absolute;
	width:150px;
	height:150px;
	border:1px solid #7e9ecf;
	background-color:#fff;
	padding:4px;
	margin:4px;
}
.box2 {
	position: relative;
	float:left !important;
	left:165px;
	width:70%;
	height:150px;
	border:1px solid #7e9ecf;
	background-color:#fff;
	padding:4px;
	margin:4px;
}
.box3 {
	position: relative;
	float:left !important;
	width:97%;
	height:150px;
	border:1px solid #7e9ecf;
	background-color:#fff;
	padding:4px;
	margin:0px 4px;
}

/* splitbar
---------------------------------------------------------*/
.splitbarV {
	position:absolute;
	top:0;
	left:0;
	background: url(../../images/workflow/panev.gif) repeat scroll 0 50% #CBE1FB; 
}
.splitbarH {
	position:absolute;
	background: url(../../images/workflow/paneh.gif) repeat scroll 50% 0 #CBE1FB; 
}
.toggler-west-open    { 
	background:url(../../images/workflow/leftContainer_ar.gif) no-repeat 0 0;
	height:48px;
	width:6px;
}
.toggler-west-closed  { 
	background:url(../../images/workflow/leftContainer_ar.gif) no-repeat 0 -48px;
	height:48px;
	width:6px; 
}
.toggler-south-open    { 
	background:url(../../images/workflow/southContainer_ar.gif) no-repeat 0 0;
	height:6px;
	width:48px !important;
}
.toggler-south-closed  { 
	background:url(../../images/workflow/southContainer_ar.gif) no-repeat -48px 0;
	height:6px;
	width:48px !important; 
}